<app-header-without-login></app-header-without-login>
<div class="main-forgot-password">
  <div class="reset-block">
    <h3>{{ "ENTER_USER_EMAIL" | translate }}</h3>
    <form [formGroup]="forgotPasswordGroup">
      <mat-form-field appearance="outline">
        <mat-label>{{ "USER_EMAIL" | translate }}*</mat-label>
        <input formControlName="email" matInput />
        <mat-error *ngIf="userEmail?.hasError('required')">
          {{ "Email is required" | translate }}
        </mat-error>

        <mat-error *ngIf="userEmail?.hasError('email')">
          {{ "Please enter a valid email address" | translate }}
        </mat-error>
      </mat-form-field>
      <div class="action">
        <button
          [disabled]="forgotPasswordGroup.invalid"
          mat-raised-button
          class="btn btn-two reset-btn"
          (click)="retrievePassword()"
        >
          <span *ngIf="!_loading">
            {{ "RESET" | translate }}
          </span>

          <div class="loading-spinner" *ngIf="_loading">
            <mat-spinner color="primary"></mat-spinner>
            <span>{{ "Loading" | translate }}...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
