.container-fluid-flex {
  padding-top: 16px !important;
  min-height: 90vh;
}

.nav-item {
  cursor: pointer;
}
button {
  max-width: fit-content !important;
  padding: 0 32px;
}
.content {
  min-height: inherit;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #bababa, #bababa);
}
#overviewSection,
#qualitySection,
#complianceSection {
  padding: 16px;
  padding-bottom: 32px;
}
.inputSection {
  display: flex;
  justify-content: flex-start;
}
#selectEditor {
  max-width: 15vw;
}
::ng-deep .mat-select-panel {
  min-width: 15vw !important;
  max-width: 280px;
  margin-top: 36px;
  margin-left: 7px;
  border-radius: unset !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: unset !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: unset !important;
}

::ng-deep .contentTile.mat-grid-tile .mat-figure {
  padding-top: 32px !important;
}
.alert-primary {
  color: rgba(0, 95, 147, 1);
  background-color: rgba(58, 179, 218, 0.24);
  border-color: rgba(204, 229, 255, 1);
  text-align: center;
  font-size: 12px;
  margin-top: -16px;
  border-radius: unset;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.contentTile {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.parentTile {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.internalMatGrid {
  min-width: 100%;
}

.tileHeader {
  position: absolute;
  top: 0;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}

.tileSubHeader {
  position: absolute;
  top: 0;
  margin-top: 20px;
  padding: 10px;
  color: #adadad;
  font-size: 12px;
}

.tileImage img {
  max-height: 33px;
}

.tileImage mat-icon {
  color: #f30000;
}

.errorIcon {
  justify-content: center;
  display: flex;
}

.complianceCanvas {
  margin-top: 16px;
}

.tileLoadingMsg {
  position: absolute;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10em;
}
.top {
  margin-top: 16px;
}
.tileBody {
  align-items: center;
}
.tileText {
  font-weight: bold;
  font-size: 1.8em;
  text-align: right;
  color: #005f93;
}
.noDataImgContainer {
  position: absolute;
}
.noDataImg {
  // width: 250px;
  height: 200px;
}

.noDataMsg {
  position: absolute;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 20em;
}

.errorMsg {
  font-size: 12px;
  font-weight: 500;
}

.loader,
.loader:before,
.loader:after {
  background: #008afc;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #008afc;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.comingSoonImgContainer {
  background-color: white;
  display: flex;
  min-height: 87vh;
  justify-content: center;
  align-items: center;
}
.comingSoonImg {
  width: 60%;
}
::ng-deep .alertTooltip {
  background-color: rgb(50, 50, 50);
  font-size: 11px;
  white-space: pre-line;
}
.productsNo {
  cursor: pointer;
}
.productsHeader {
  font-size: 16px;
  font-weight: 700;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end !important;
}

.white-bg {
  background-color: #fff;
}

.main {
  padding: 15px;
}

:ng-deep .product-editor-list {
  position: relative;
  mat-option:first-child {
    position: sticky;
    top: 0;
    border: 1px solid #d4d4d4;
    z-index: 9999999;
    background: #fff;
    border-radius: 5px;
    &:hover {
      background: #fff;
    }
  }
}
