P { text-align: center }
H2 { text-align: center }
.landing-div{
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
}
    span {
        display: flex;
        justify-content: center;
    }
    .large-text{
        font-size: 35px;
    }
