<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center">
  {{ "PRODUCT_CATALOG.TITLE.CONFIRMATION" | translate }}
</div>
<mat-dialog-content>
  <p class="message">
    {{ "PRODUCT_CATALOG.MESSAGE.CONFIRM_DELETION" | translate }}
  </p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button class="btn-two" (click)="remove(true)">Yes</button>
  <button mat-raised-button class="btn-four" (click)="remove(false)">
    Cancel
  </button>
</mat-dialog-actions>
