.row-anchor{
  width: 100%;
  white-space: unset;
  line-height: 20px!important;
  text-align: left;
}
.row-span{
  overflow: hidden;
  line-height: 20px;
}
mat-header-cell{  word-break: break-word;}
.equip-toolbar{
  z-index: 9;
}

/* 07-08-2019 */
.table-section { 
  padding-top: 16px; 
  height: 100%;
  overflow: hidden;
}
.mat-paginator-container {background: #ececec !important;}

.example-card {
  height: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 70vh;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
   display: inline-flex !important;
   min-width:100%;
   max-width: max-content !important;
}
.extendrow {
  min-width: 200%;
}

.mat-cell {
  display: flex;
  align-self: stretch;
}

.equip-container {
  padding: 16px !important;
}
::ng-deep .mat-tab-links {
  overflow-x: auto !important;
}
.mat-tab-link {
  min-width: fit-content;
  padding: 0 16px;
}