// mat-header-cell, mat-header-row, .mat-header-cell-def{
  // background:#f7f7f7;
  // min-height:14px;
  // font-family:Verdana,sans-serif;
  // font-weight:700;
  // font-size:13px;
  // color: #5d5d5d;
  // margin-bottom:5px;
  //  top: 0;
  // position: sticky;
  // z-index: 1;
  // flex-wrap: wrap;
// }

// .mat-cell:nth-child(1),
// .mat-header-cell:nth-child(1){
//   flex: 0 0 17%;
//   word-break: break-all;
// }

// .mat-cell:nth-child(2),
// .mat-header-cell:nth-child(2){
//   flex: 0 0 10%;
//   word-break: break-all;
// }

// .mat-cell:nth-child(3),
// .mat-header-cell:nth-child(3){
//   flex: 0 0 15%;
// }

// .mat-cell:nth-child(4),
// .mat-header-cell:nth-child(4){
//   flex: 0 0 15%;
// }
// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5){
//   flex: 0 0 17%;
// }
// .mat-cell:nth-child(6),
// .mat-header-cell:nth-child(6){
//   flex: 0 0 15%;
// }
// .mat-cell:nth-child(7),
// .mat-header-cell:nth-child(7){
//   flex: 0 0 15%;
// }
// .mat-cell:nth-child(8),
// .mat-header-cell:nth-child(8){
//   flex: 0 0 15%;
// }
// .mat-cell:nth-child(9),
// .mat-header-cell:nth-child(9){
//   flex: 0 0 15%;
// }
mat-menu-item {
  border: solid 1px #d1d8de !important;
  width:260px !important;
  height:41px !important;
  text-align: center !important;
}
  .mat-menu-item-checked{
    background-color: #ffffff !important;
    font-weight: bold !important;
  }

.mat-menu-item-toggle{ width:50% !important; font-size: 15px !important;}
.active-column{outline: none;color: blue;}
.mat-row, .mat-header-row {min-width: 2800px;width: 100%;}
mat-header-row{padding: 10px;}

.row-anchor{
  width: 100%;
  white-space: unset;
  line-height: 20px!important;
  text-align: left;
}
.row-span{
  overflow: hidden;
  line-height: 20px;
}
mat-header-cell{  word-break: break-word;}
.equip-toolbar{
  z-index: 9;
}

/* 07-08-2019 */
.table-section { padding: 20px; }
// .table-section .mat-table { border: 1px solid rgba(0, 0, 0, 0.12);}
.mat-paginator-container {background: #ececec !important;}
