::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #d6d6d6; 
}
.mat-card {
  padding-bottom: unset;
}
.mat-card-content {
  margin: unset;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}