<div>
  <mat-card-header>
    <mat-card-title class="page-heading">{{
      "Create Acquired Rights Aggregation" | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card class="card">
    <mat-card-content fxLayout="column">
      <app-top-section></app-top-section>

      <mat-horizontal-stepper [linear]="false" #stepper>
        <!-- contract form -->
        <mat-step [stepControl]="contractForm" label="{{ 'Contract' }}">
          <app-contract-step></app-contract-step>
        </mat-step>
        <!-- /contract form -->

        <!-- Product Block -->
        <!-- <mat-step
          [stepControl]="productsForm"
          label="{{ 'Products' | translate }}*"
        >
          <app-products-step></app-products-step>
        </mat-step> -->
        <!-- /Product Block -->

        <!-- License Block -->
        <mat-step
          [stepControl]="licenseForm"
          label="{{ 'Acquired licenses' | translate }}*"
        >
          <app-license-step></app-license-step>
        </mat-step>
        <!-- Maintenance Block -->
        <mat-step
          [stepControl]="maintenanceForm"
          label="{{ 'Maintenance' | translate }}"
        >
          <app-maintenance-step></app-maintenance-step>
        </mat-step>
        <!-- Comment Block -->
        <mat-step
          [stepControl]="commentForm"
          label="{{ 'Additional info' | translate }}"
        >
          <app-comment-step></app-comment-step>
        </mat-step>
        <!-- change default 'error' icon -->
        <ng-template matStepperIcon="error">
          <mat-icon>error</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
  <mat-card-actions align="center">
    <button
      id="cancelBtn"
      mat-raised-button
      class="btn-four"
      [disabled]="_createLoading"
      [mat-dialog-close]="1"
    >
      {{ "Cancel" | translate }}
    </button>
    <button
      id="resetBtn"
      mat-raised-button
      class="btn-three"
      [disabled]="isPristine || _createLoading"
      (click)="resetForm(stepper)"
    >
      {{ "Reset" | translate }}
    </button>
    <button
      id="createBtn"
      mat-raised-button
      class="btn-two"
      [disabled]="isPristine || incompleteFormForCreate || _createLoading"
      (click)="createAcquiredRight(successDialog, errorDialog)"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="_createLoading"
      ></span>
      {{ "Create" | translate }}
    </button>
  </mat-card-actions>
  <ng-template #successDialog>
    <mat-dialog-content>
      <p>{{ "CREATE_AGGR_SUCCESS" | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        class="btn-two"
        cdkFocusInitial
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
  <ng-template #errorDialog>
    <mat-dialog-content>
      <p>{{ "Error" | translate }}: {{ errorMsg }}.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        class="btn-two"
        cdkFocusInitial
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>
