<div class="container-fluid-flex">
  <div class="col-md-12 tabs">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-item nav-link"
          [ngClass]="{ active: currentTab == 'Profile Settings' }"
          id="nav-lang-tab"
          data-toggle="tab"
          role="tab"
          (click)="currentTab = 'Profile Settings'"
          aria-selected="true"
          >{{ "Profile Settings" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          [ngClass]="{ active: currentTab == 'Change Password' }"
          id="nav-pass-tab"
          data-toggle="tab"
          role="tab"
          (click)="currentTab = 'Change Password'"
          aria-selected="false"
          >{{ "Change Password" | translate }}</a
        >
      </div>
    </nav>
  </div>
  <div class="col-md-12 content">
    <app-profile-settings
      *ngIf="currentTab === 'Profile Settings'"
    ></app-profile-settings>
    <app-change-password
      *ngIf="currentTab === 'Change Password'"
    ></app-change-password>
  </div>
</div>
