.container {
    margin-top: 40px !important;
}

.row {
    margin: 0px !important;
    justify-content: space-between;
  }
.mat-button-link {
    cursor: pointer;
}
.highlight:hover {
  text-decoration: underline;
}
.mat-row {
    cursor: pointer;
}
  .mat-column-description {
    word-wrap: break-word !important;
    overflow-wrap: break-word;
    word-wrap: break-word;    
    word-break: break-word;
}
