<router-outlet></router-outlet>
<mat-card>
  <div class="row">
    <div class="page-heading" style="display:table-cell">
      {{'Metrics Management'|translate}}
    </div>
    <div class="form add-btn-bx" *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')">
      <button id="addNewMetricButton" mat-raised-button (click)="addNew()" class="btn-two">
        <mat-icon color="panel">add</mat-icon> {{'Add Metric' | translate}}
      </button>
    </div>
  </div>

    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="MyDataSource" matSort>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>{{'Metric Type' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.type||0}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{'Name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="highlight"> 
            <span>{{row.name||0}}</span>
          </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>{{'Description' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description||0}}</mat-cell>
        </ng-container>
      
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetails(row)"></mat-row>
      </mat-table>
      <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
      <div class="no-data" *ngIf="!_loading && noDataAvailableFlag">{{'No data available'|translate}}</div>
    </div>

</mat-card>
