mat-header-cell, mat-header-row, .mat-header-cell-def{
    // min-height:14px;
    // font-family:Verdana,sans-serif;:Verdana,sans-serif;
    // font-size:13px;
    padding: 8px 0;
   }
mat-header-row{
  padding: 8px;
}

.container {
    margin-top: 40px !important;
}
