.advance-search{
    padding: 10px;
    z-index: 9999;
    position: absolute;
    background-color: #fff;
    /* border: 1px solid black; */
    width: 90%;
    // border-radius: 5px;
    left: 0;
    margin: -5px 12px 0 18px;
}
    .menu-title{font-size: 16px;}
    .buttons-section{text-align: center;}
    button{margin: 0px 5px;}
// .advance-search .mat-form-field{margin: 0px 0px;}
.advance-search.hidden{visibility: hidden;}
