<div
  fxLayout="row"
  fxLayoutAlign="end start"
  fxLayoutGap="6px"
  class="main-search"
>
  <div class="search-labels" fxLayout="row wrap" fxLayoutAlign="end start">
    <div
      *ngFor="let label of labels"
      class="label"
      matTooltipPosition="above"
      matTooltipClass="search-label-tooltip"
      #labelHTML
      matTooltip="{{
        ['text', 'select'].includes(label.type)
          ? filterFields[label.key]
          : (filterFields[label.key] | date : 'M/d/y')
      }}"
    >
      <span *ngIf="model.translate" class="text">{{
        label.label | translate
      }}</span>
      <span *ngIf="!model.translate" class="text">{{ label.label }}</span>
      <mat-icon (click)="removeLabel(label)">cancel</mat-icon>
    </div>
  </div>
  <div class="search-box" fxLayout="row" fxLayoutAlign="end">
    <div>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input
          id="adv-search-input"
          matInput
          [(ngModel)]="filterFields[model.primary]"
          placeholder="{{
            model.translate ? (model.title | translate) : model.title
          }}"
          autocomplete="off"
          (keyup)="onFocusOut()"
          (keydown.enter)="pressEnter()"
          (input)="checkEmpty($event.target.value)"
        />

        <button
          id="search"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Search"
          (click)="applyFilter()"
          [disabled]="!filterFields[model.primary]"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          id="clear"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearPrimaryFilter()"
          *ngIf="filterFields[model.primary]"
        >
          <mat-icon>clear</mat-icon>
        </button>

        <button
          id="toggleKeyDown"
          *ngIf="!toggleAdvanceSearch"
          mat-button
          mat-icon-button
          matSuffix
          class="btn-toggle"
          (click)="openAdvanceSearch()"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button
          id="toggleKeyUp"
          *ngIf="toggleAdvanceSearch"
          mat-button
          mat-icon-button
          matSuffix
          class="btn-toggle"
          (click)="openAdvanceSearch()"
        >
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>

        <!-- <button id="toggleKey" *ngIf="!hideToggleFlag" mat-button mat-icon-button matSuffix class="btn-toggle" (click)="openAdvanceSearch()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button> -->
      </mat-form-field>

      <div
        *ngIf="!hideToggleFlag"
        #advanceSearch
        class="advance-search mat-elevation-z8"
        [ngClass]="{ hidden: !toggleAdvanceSearch }"
        tabindex="-1"
        (focusout)="focusout($event)"
      >
        <div class="menu-title advanceChild">
          {{ "Advance Search" | translate }}
        </div>
        <div
          mat-filter-item
          class="advanceChild"
          *ngFor="let itm of model.other; let idx = index"
        >
          <ng-container *ngIf="itm.type === 'text' && itm.show">
            <mat-form-field>
              <input
                matInput
                id="{{ itm.label }}"
                placeholder="{{
                  model.translate ? (itm.label | translate) : itm.label
                }}"
                class="advanceChild"
                (change)="touched = true"
                [(ngModel)]="filterFields[itm.key]"
                (keyup)="onFocusOut()"
                (keydown.enter)="pressEnter(filterFields[itm.key], true)"
              />
            </mat-form-field>
            <div fxLayout="row" *ngIf="false">
              <mat-form-field
                appearance="fill"
                class="advance-search-select"
                fxFlex="30"
              >
                <mat-label>{{ "compare" | translate }}</mat-label>
                <mat-select
                  matInput
                  [panelClass]="['operator-selection']"
                  [class]="'operator-selection'"
                  (selectionChange)="touched = true"
                >
                  <mat-option
                    *ngFor="let selection of ['=', '>', '<', '<=', '>=']"
                    [value]="selection"
                    >{{ selection }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="70">
                <mat-label>{{ "compare" | translate }}</mat-label>
                <input
                  [panelClass]="[customFocusClass, advanceChild]"
                  [class]="customFocusClass"
                  matInput
                />
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="itm.type === 'date' && itm.show">
            <mat-form-field appearance="fill" class="advance-search-select">
              <mat-label>{{
                model.translate ? (itm.label | translate) : itm.label
              }}</mat-label>
              <input
                matInput
                class="advanceChild"
                [matDatepicker]="picker"
                (change)="touched = true"
                [(ngModel)]="filterFields[itm.key]"
                (keydown)="$event.preventDefault()"
                (paste)="$event.preventDefault()"
                autocomplete="off"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                [panelClass]="[customFocusClass]"
              ></mat-datepicker>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="itm.type === 'select' && itm.show">
            <mat-form-field appearance="fill" class="advance-search-select">
              <mat-label>{{
                model.translate ? (itm.label | translate) : itm.label
              }}</mat-label>
              <mat-select
                matInput
                [panelClass]="[customFocusClass]"
                [class]="customFocusClass"
                (selectionChange)="touched = true"
                [(ngModel)]="filterFields[itm.key]"
              >
                <mat-option value="">{{ "Select" | translate }}</mat-option>
                <mat-option
                  *ngFor="let selection of itm.selection"
                  [value]="selection.value"
                  >{{
                    model.translate
                      ? (selection.key | translate)
                      : selection.key
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="itm.type === 'compare' && itm.show">
            <mat-form-field appearance="fill" class="advance-search-select">
              <mat-label>{{
                model.translate ? (itm.label | translate) : itm.label
              }}</mat-label>
              <mat-select
                matInput
                [panelClass]="[customFocusClass]"
                [class]="customFocusClass"
                (selectionChange)="touched = true"
                [(ngModel)]="filterFields[itm.key]"
              >
                <mat-option value="">{{ "Select" | translate }}</mat-option>
                <mat-option
                  *ngFor="let selection of itm.selection"
                  [value]="selection.value"
                  >{{ selection.key }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
        <div class="buttons-section advanceChild">
          <button
            id="adv-clear-button"
            mat-raised-button
            class="advanceChild btn-four"
            (click)="clearFilter()"
            [disabled]="isResetDisable"
          >
            {{ "Clear" | translate }}
          </button>
          <button
            id="adv-apply-button"
            mat-raised-button
            class="advanceChild btn-two"
            (click)="applyFilter(); toggleAdvanceSearch = false"
            [disabled]="isResetDisable"
          >
            {{ "Search" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
