<mat-form-field class="search-form-field" floatLabel="never">
  <input matInput [(ngModel)]="filterFields[model.primary]" placeholder="{{model.title |translate}}"
    autocomplete="off" (keydown.enter)="pressEnter()" >

  <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="applyFilter()" [disabled]="!filterFields[model.primary] || filterFields[model.primary].length < 3">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()"
    *ngIf="filterFields[model.primary]">
    <mat-icon>clear</mat-icon>
  </button>

  <button id="toggleKey" *ngIf="!hideAdvanceToggle" mat-button mat-icon-button matSuffix class="btn-toggle" (click)="openAdvanceSearch()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="!hideAdvanceToggle" #advanceSearch class="advance-search mat-elevation-z8" [ngClass]="{'hidden': !toggleAdvanceSearch}" tabindex="-1" (focusout)="focusout($event)">
  <div class="menu-title advanceChild">
    {{'Advance Search' | translate}}
  </div>
  <div  mat-filter-item class="advanceChild" *ngFor="let itm of model.other;">
    <mat-form-field  >
      <input matInput placeholder="{{itm.label | translate}}" class="advanceChild" [(ngModel)]="filterFields[itm.key]" (keydown.enter)="pressEnter(true)">
    </mat-form-field>
  </div>
  <div class="buttons-section advanceChild">
    <button mat-raised-button class="advanceChild" (click)="clearFilter()">{{'Clear'|translate}}</button>
    <button mat-raised-button class="advanceChild" color="primary" (click)="applyFilter();toggleAdvanceSearch = false;" [disabled]="filterFields[model.primary] != '' && filterFields[model.primary] && filterFields[model.primary].length < 3">{{'Search'|translate}}</button>
  </div>
</div>