<mat-card class="example-card" style="z-index: 0;">

  <div class="container-fluid page-content-header">
    <div class="row">
      <div class="page-heading">
        {{'Scope' | translate}}
      </div>
      <div class="col-md-2 add-btn">
        <button id="createScopeButton" mat-raised-button class="btn-two" (click)="createNew()" *ngIf="(role === 'ADMIN') || ((role === 'SUPER_ADMIN'))">
          <mat-icon>add</mat-icon>
          {{'Create Scope' | translate}}
        </button>
      </div>
    </div>
  </div>

  <mat-card-content>
    <div class="mat-elevation-z8">

      <mat-table [dataSource]="scopeData">
        <ng-container matColumnDef="scope_code">
          <mat-header-cell *matHeaderCellDef > {{'Scope Code'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let scope"> {{scope.scope_code}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="scope_name">
          <mat-header-cell *matHeaderCellDef > {{'Scope Name'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let scope"> {{scope.scope_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_by">
          <mat-header-cell *matHeaderCellDef > {{'Created By'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let scope"> {{scope.created_by}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_on">
          <mat-header-cell *matHeaderCellDef > {{'Created On'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let scope"> {{scope.created_on}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="groups">
          <mat-header-cell *matHeaderCellDef > {{'Groups'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let scope">
            <span class="mat-button-link"  matTooltip="{{scope.group_names}}">
              {{scope.group_names.length}} 
            </span>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef >{{'Action' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let scope">
              <mat-icon class="action-icon" matTooltip="Edit Scope" (click)="openDialog(scope)">edit</mat-icon>
          </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
      <div class="no-data" *ngIf="!_loading && scopeData && scopeData.length === 0">{{'No data available' | translate}}</div>
    </div>
  </mat-card-content>
</mat-card>