.active-column{outline: none;color: #008AFC;}
#dataUnavailableMsg {
  display: flex;
  justify-content: center;
  padding: 16px;
}
.mat-table {
  overflow: auto;
  max-height: 70vh;
}
.mat-toolbar-row {
  padding: unset !important;
  max-height: 42px;
}
mat-toolbar{
  max-height: 42px;
}
.mat-toolbar-multiple-rows {
  min-height: 42px;
}