<mat-card>
  <mat-grid-list
    cols="2"
    rowHeight="4:3"
    gutterSize="20px"
    class="main-effective-licenses-position"
  >
    <mat-grid-tile
      class="mat-elevation-z3 block-total-true-up chart-block-tile"
    >
      <div class="chart-block" fxLayout="column">
        <div class="chart-block--header">
          <div class="chart-block--header--icon">
            <mat-icon svgIcon="money-deck"></mat-icon>
          </div>
          <div class="chart-block--header--content">
            <div class="chart-block--header--content--title">
              <span class="title">{{ "TOTAL_TRUE_UP_COST" | translate }}</span>
              <mat-icon
                matTooltip="{{ 'TOTAL_TRUE_UP_COST_INFO' | translate }}"
                matTooltipClass="alertTooltip"
                >info</mat-icon
              >
            </div>
            <div class="chart-block--header--content--number">
              {{ ((trueUpTotalCost | abs )  || 0) | numberFr  }}
            </div>
          </div>
        </div>
        
        <ng-container *ngIf="_loadingTrueUp; else trueUpChartContainer" >
          <app-kpi-loader></app-kpi-loader>
        </ng-container>

      </div>

      
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z3 block-total-waste chart-block-tile">
      <div class="chart-block" fxLayout="column" >
        <div class="chart-block--header">
          <div class="chart-block--header--icon">
            <mat-icon svgIcon="money-deck"></mat-icon>
          </div>
          <div class="chart-block--header--content">
            <div class="chart-block--header--content--title">
              <span class="title">{{ "TOTAL_WASTE_COST" | translate }}</span>
              <mat-icon
                matTooltip="{{ 'TOTAL_WASTE_COST_INFO' | translate }}"
                matTooltipClass="alertTooltip"
                >info</mat-icon
              >
            </div>
            <div class="chart-block--header--content--number">
              {{ (wasteTotalCost | abs | numberFr) || 0 }}
            </div>
          </div>
        </div>

        <ng-container *ngIf="_loadingTrueUp; else wasteChartContainer" >
          <app-kpi-loader></app-kpi-loader>
        </ng-container>

      </div>

    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<ng-template #noDataTemplate >
  <div class="no-data-container">
    <div class="noDataImgContainer" >
      <img class="noDataImg" src="assets/images/NoDataFound.PNG" />
    </div>
    <div class="noDataMsg" >
      {{ "Unfortunately no data could be found." | translate }}
    </div>
  </div>
</ng-template>

<ng-template #trueUpChartContainer>
  <ng-container *ngIf="trueUpTotalCost; else noDataTemplate " >
    <div class="chart-block--map" fxFill>
      <div #treeMapContainer  class="tree-map-chart-container">
        <apx-chart
          #trueUpChart
          [series]="trueUpChartOption?.series"
          [chart]="trueUpChartOption?.chart"
          [title]="trueUpChartOption?.title"
          [plotOptions]="trueUpChartOption?.plotOptions"
          [dataLabels]="trueUpChartOption?.dataLabels"
          [tooltip]="customTooltip"
        >
        </apx-chart>
      </div>
    </div>
  </ng-container>

</ng-template>


<ng-template #wasteChartContainer>

  <ng-container *ngIf="wasteTotalCost; else noDataTemplate " >
    <div class="chart-block--map" fxFill>
      
      <div #treeMapContainer #wasteChart  class="tree-map-chart-container">
        <apx-chart
          [series]="wasteChartOption?.series"
          [chart]="wasteChartOption?.chart"
          [title]="wasteChartOption?.title"
          [plotOptions]="wasteChartOption?.plotOptions"
          [dataLabels]="wasteChartOption?.dataLabels"
          [tooltip]="customTooltip"
        >
        </apx-chart>
      </div>
    </div>
  </ng-container>
</ng-template>
