
  .mat-card{
    width: 400px !important;
    box-sizing: border-box;
    margin: 50px auto 8px auto;
    padding: 30px;
  text-transform: capitalize;
  }
  .mat-card-content{
    // margin-left: 110px;
  }
.mat-card-title{
  margin-left: 110px;
}
.mat-card-header .mat-card-title {
  font-size: 32px;
  margin-left: 83px;
}
.mat-raised-button {
  box-sizing: initial;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}
