.card {
  border: unset !important;
}
  .mat-card{
    width: 400px !important;
    padding: 0 16px;
  }

  .mat-card-header {
    display: flex;
    justify-content: center;
  }
.mat-raised-button {
  box-sizing: initial;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}
.mat-hint {
  margin-top: 5px;
  font-size: 12px;
}
::ng-deep .mat-select-panel#groups-panel {
  min-width: calc(100% + 16px) !important;
  margin-left: 32px;
  margin-top: 32px;
  color: #008AFC;
}
::ng-deep .mat-select-panel#role-panel {
  min-width: calc(100% + 16px) !important;
  margin-left: 16px;
  margin-top: 32px;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked, ::ng-deep .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #008AFC;
}