<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of displayedColumns">
      <ng-container matColumnDef="{{ column }}">
        <mat-header-cell *matHeaderCellDef>{{
          columns[column]
        }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
</div>
