.mat-table {
    max-height: 70vh;
    overflow-y: auto;
}
.no-data{
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
.add-btn a {
    margin-top: 6px;
    text-decoration: none;
}
.action-a{
    color: #1a084c;
}
.action-icon{
    cursor: pointer;
    color: #008AFC;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
    .dlt{
        margin-left: 10px;
    }