.mat-table {
  max-height: 70vh;
  overflow-y: auto;
}
.no-data {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}
.add-btn a {
  //   margin-top: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  mat-icon {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.action-a {
  color: #1a084c;
}
.action-icon {
  cursor: pointer;
  color: #008afc;
  height: 20px;
  width: 20px;
  font-size: 20px;
}