  <mat-card class="example-card" style="z-index: 0;">

    <div class="container-fluid page-content-header">
      <div class="row">
        <div class="col-md-10 page-heading">
          {{'AGGREGATIONS.TEXTS.SWIDTAGS_AGGREGATION'|translate}}
        </div>
        <div class="col-md-2" class="add-btn">
          <a id="addAggregation" mat-raised-button class="btn-two" (click)="addNew()" *ngIf="(role === 'ADMIN') || ((role === 'SUPER_ADMIN'))">
            <mat-icon>add</mat-icon>
            {{'AGGREGATIONS.ACTIONS.ADD_AGGREGATION'|translate}}
          </a>
        </div>
      </div>
    </div>
  
    <mat-card-content>
      <div class="mat-elevation-z8">
  
        <mat-table [dataSource]="aggregationData" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef > {{'AGGREGATIONS.TEXTS.AGG_NAME' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let aggregation"> {{aggregation.name}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="product_names">
            <mat-header-cell *matHeaderCellDef >{{'AGGREGATIONS.TEXTS.PRODUCT' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let aggregation">{{aggregation.product_names.join(', ')}}
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="editor">
            <mat-header-cell *matHeaderCellDef >{{'AGGREGATIONS.TEXTS.EDITOR'| translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let aggregation">
                {{aggregation.editor}} 
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="metric">
            <mat-header-cell *matHeaderCellDef >{{'AGGREGATIONS.TEXTS.METRICS' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let aggregation">
                {{aggregation.metric}} 
            </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="numofSwidTags">
            <mat-header-cell *matHeaderCellDef >{{'AGGREGATIONS.TEXTS.NUMBER_OF_SWIDTAGS'| translate}}</mat-header-cell>
            <mat-cell *matCellDef="let aggregation">
                <span matTooltip="{{aggregation.products.join(', ')}}"> {{aggregation.products.length}} </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef >{{'Action'| translate}}</mat-header-cell>
            <mat-cell *matCellDef="let aggregation">
                <mat-icon class="action-icon" matTooltip="Edit Aggregation" (click)="editAggregation(aggregation)">edit</mat-icon>
                <mat-icon class="action-icon dlt" matTooltip="Delete Aggregation" (click)="deleteAggregationConfirmation(aggregation,deleteConfirmationDialog)">delete</mat-icon>
                <ng-template #deleteConfirmationDialog>
                  <mat-dialog-content>
                      <p>{{'DELETE_AGGR_CONFIRM_MSG' | translate}}- {{aggregation.name}}</p>
                  </mat-dialog-content>
                  <mat-dialog-actions align="center">
                      <button mat-button [mat-dialog-close]="true" class="btn-two" (click)="deleteProductAggregation(successDialog,errorDialog)" cdkFocusInitial>{{'OK'|translate}}</button>&nbsp;
                      <button mat-button [mat-dialog-close]="true" class="btn-three" cdkFocusInitial>{{'Cancel'|translate}}</button>
                    </mat-dialog-actions>
                </ng-template>  
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="no-data" *ngIf="aggregationData && aggregationData.length == 0;">{{'AGGREGATIONS.TEXTS.NO_AGGREGATION'| translate}}</div>
        <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
        <!-- <mat-paginator #paginator [pageSize]="7" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> -->
        <!-- <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="getPaginatorData($event)" showFirstLastButtons>
        </mat-paginator> -->
      </div>
    </mat-card-content>
  </mat-card>
  
<ng-template #successDialog>
  <mat-dialog-content>
    <p>{{'DELETE_AGGR_SUCCESS'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" class="btn-two" cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorDialog>
  <mat-dialog-content>
    <p>{{'DELETE_AGGR_ERROR'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" class="btn-two" cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>