<div fxLayOut="row" fxLayoutAlign="space-between center">
<div class="page-heading">
  {{ "PRODUCT_CATALOG.TITLE.MAIN" | translate }}
</div>

<button
        mat-raised-button
        class="btn-two file"
        (click)="uploadFile()"
      >
        <mat-icon>add</mat-icon>
        {{ "Upload File" }}
      </button>
    </div>
      <!-- <input
          #FileUpload
          type="file"
          style="visibility: hidden;"
          (change)="fileUpload($event)"
        /> -->

    


<div class="tabs">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      class="tab-anchor"
      *ngFor="let tab of productCatalogTabs"
      [active]="currentTab == tab.tabName"
      [routerLink]="[tab.link]"
    >
      {{ tab.tabName | translate }}
    </a>
  </nav>
</div>

