<div class="col-md-12 main-section">
  <div class="col-md-6">
    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile [colspan]="4">
        <span class="text-inside-grid page-heading">{{
          "Environment" | translate
        }}</span>
      </mat-grid-tile>
      <mat-grid-tile>
        <div *ngIf="HTTPActivity || _loading" class="spinner-div">
          <mat-spinner></mat-spinner>
          <span>{{ "Loading" | translate }} ...</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-form-field appearance="outline">
      <mat-label>{{ "AGGREGATIONS.TEXTS.EDITOR" | translate }}</mat-label>
      <mat-select
        [(ngModel)]="simulateObj.editor"
        [disabled]="editorList.length == 0"
        (selectionChange)="selectionChanged($event, 'editor')"
      >
        <mat-option
          >--
          {{ "AGGREGATIONS.TEXTS.SELECT_PRODUCT" | translate }} --</mat-option
        >
        <mat-option *ngFor="let editor of editorList" [value]="editor">{{
          editor
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline"  [ngClass]="{'has-error': invalidProductFlag}">
        <mat-label>{{'AGGREGATIONS.TEXTS.PRODUCT' | translate}}</mat-label>
        <input type="text" placeholder="{{'AGGREGATIONS.TEXTS.PRODUCT' | translate}}" (keyup)="onChangeProduct($event)"
        (focusout)="onProductNotSelected()"  matInput [(ngModel)]="simulateObj.product" [matAutocomplete]="auto" [disabled]="!simulateObj.editor || HTTPActivity || productList.length === 0">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectionChanged($event, 'product')" [displayWith]="getOptionText">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{option.name}} - {{option.swidTag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

    <div
      *ngIf="editorRightList.length === 0 && editorEmpty"
      class="emptyEditor"
    >
      <span>There are no rights for this editor.</span>
    </div>
    <div *ngIf="editorRightList.length > 0" class="metric-section">
      <mat-table [dataSource]="editorRightList">
        <ng-container matColumnDef="sku">
          <mat-header-cell *matHeaderCellDef
            >{{ "SKU" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let metric">
            <mat-checkbox
              [(ngModel)]="metric.checked"
              (change)="selectMetric($event, metric)"
            ></mat-checkbox>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{ metric.sku }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="metric">
          <mat-header-cell *matHeaderCellDef
            >{{ "Metric" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let metric">
            <!-- <mat-checkbox [(ngModel)]="metric.checked" (change)="selectMetric($event, metric)"></mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span>{{ metric.metric_name }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="unitCost">
          <mat-header-cell *matHeaderCellDef
            >{{ "Unit Cost" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let metric">
            <mat-form-field appearance="outline" class="cost-input">
              <input
                matInput
                placeholder=""
                (keydown)="validateCostPattern($event)"
                (keyup)="changeInput($event, metric)"
                [(ngModel)]="metric.avg_unit_price"
              />
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="aggName">
          <mat-header-cell *matHeaderCellDef
            >{{ "Aggregation name" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let metric">
            <span>{{ metric.aggregation_name }}</span>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="col-md-6">
    <span class="text-inside-grid page-heading" id="ResultsLabel">{{
      "Results" | translate
    }}</span>
    <br /><br />
    <button
      id="simulateButton"
      class="btn-two"
      mat-raised-button
      (click)="simulate()"
      [disabled]="checkValidSimulation()"
    >
      {{ "Simulate" | translate }}
    </button>

    <!-- <div class="simulate-result" *ngIf="simulatedResults && simulatedResults.length != 0">
    <p><strong>{{'Before'|translate}} :</strong></p>
   </div> -->
    <div
      class="totalCost"
      *ngIf="
        simulationTotal && simulatedResults && simulatedResults.length != 0
      "
    >
      <p>
        {{ "Total cost by editor before: " }}{{ simulationTotal.beforeTotal }}
      </p>
      <p>
        {{ "Total cost by editor after: " }} {{ simulationTotal.afterTotal }}
      </p>
    </div>

    <div
      class="simulate-result"
      *ngIf="simulatedResults && simulatedResults.length != 0"
    >
      <!-- <div class="result-section" *ngFor="let result of simulatedResults" [ngClass]="{'error': !result.exists && !result.success, 'success': result.exists || result.success}"> -->

      <div
        class="result-section"
        *ngFor="let result of simulatedResults"
        [ngClass]="{
          error: result.new_total_cost - result.old_total_cost > 0,
          success: result.new_total_cost - result.old_total_cost <= 0
        }"
      >
        <div *ngIf="!result.aggregation_name">
          <h6>{{ result.swidtag }}/{{ result.metric_name }}</h6>
          <div class="simulate-body">
            <div>
              <div *ngIf="result.not_deployed">
                <p class="productNotDeployed">
                  <strong>{{ "Product is not deployed." | translate }}</strong>
                </p>
              </div>
              <div *ngIf="result.metric_not_defined">
                <p class="metricNotDefined">
                  <strong>{{ "Metric is not defined." | translate }}</strong>
                </p>
              </div>
              <p>
                <strong>{{ "Total computed cost:" | translate }}</strong>
              </p>
              <p>
                <strong>{{ "Before simulation" | translate }}: </strong>
                {{ result.old_total_cost || "-" }}
              </p>
              <p>
                <strong>{{ "After simulation" | translate }}: </strong>
                {{ result.new_total_cost || "-" }}
              </p>
              <p>
                <strong>{{ "Delta" | translate }}: </strong
                >{{ result.new_total_cost - result.old_total_cost }}
              </p>
            </div>
            <div class="simulation-failed" *ngIf="!result.swidtag">
              {{ "Simulation Failed" | translate }}
            </div>
          </div>
        </div>

        <div *ngIf="result.aggregation_name">
          <h6>{{ result.aggregation_name }}/{{ result.metric_name }}</h6>
          <div class="simulate-body">
            <div>
              <div *ngIf="result.not_deployed">
                <p class="productNotDeployed">
                  <strong>{{ "Product is not deployed." | translate }}</strong>
                </p>
              </div>
              <div *ngIf="result.metric_not_defined">
                <p class="metricNotDefined">
                  <strong>{{ "Metric is not defined." | translate }}</strong>
                </p>
              </div>
              <p>
                <strong>{{ "Swidtags" | translate }}: </strong
                >{{ result.swidtag }}
              </p>

              <p>
                <strong>{{ "Total computed cost :" | translate }}</strong>
              </p>
              <p>
                <strong>{{ "Before simulation" | translate }}: </strong>
                {{ result.old_total_cost || "-" }}
              </p>
              <p>
                <strong>{{ "After simulation" | translate }}: </strong>
                {{ result.new_total_cost || "-" }}
              </p>
              <p>
                <strong>{{ "Delta" | translate }}: </strong
                >{{ result.new_total_cost - result.old_total_cost }}
              </p>
            </div>
            <div class="simulation-failed" *ngIf="!result.swidtag">
              {{ "Simulation Failed" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
