<mat-card class="example-card">
  <div class="header-section" fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex class="page-heading" style="display: table-cell">
      {{ "Equipment Management" | translate }}
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
      <button
        *ngIf="allowedRoles.includes(role) && allowedScope"
        id="addEqpBtn"
        mat-raised-button
        (click)="addNew()"
        class="btn-two"
      >
        <mat-icon color="panel">add</mat-icon>
        {{ "Add Equipment Type" | translate }}
      </button>
      <button
        *ngIf="role === 'SUPER_ADMIN'"
        id="core-factor-btn"
        mat-raised-button
        [routerLink]="['/optisam/cfm/list-core-factor']"
        routerLinkActive="router-link-active"
        class="btn-two"
      >
        <mat-icon color="panel">add</mat-icon>
        {{ "Core factor Management" | translate }}
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="MyDataSource" matSort>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>{{
          "Type Name" | translate
        }}</mat-header-cell>
        <mat-cell *matCellDef="let equipment">
          {{ equipment.type || 0 }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="metadata_source">
        <mat-header-cell *matHeaderCellDef>{{
          "Source Name" | translate
        }}</mat-header-cell>
        <mat-cell *matCellDef="let equipment">
          {{ equipment.metadata_source || 0 }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="parent_type">
        <mat-header-cell *matHeaderCellDef>{{
          "Parent Type" | translate
        }}</mat-header-cell>
        <mat-cell *matCellDef="let equipment">
          {{ equipment.parent_type || "-" }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="attributes">
        <mat-header-cell *matHeaderCellDef>{{
          "Attributes" | translate
        }}</mat-header-cell>
        <mat-cell *matCellDef="let equipment">
          <a
            class="mat-button-link"
            matTooltip="{{ 'Click here to see Attributes List' | translate }}"
            (click)="listAttributes(equipment.type, equipment.attributes)"
          >
            {{ equipment.attributes.length || 0 }}</a
          >
        </mat-cell>
      </ng-container>
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <div *ngIf="role === 'ADMIN'">
          <mat-header-cell *matHeaderCellDef>{{
            "Actions" | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let equipment; let i = index">
            <button
              id="editBtn{{ i }}"
              mat-icon-button
              matTooltip="{{ 'Edit Equipment Type' | translate }}"
              color="accent"
              (click)="startEdit(equipment)"
            >
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button
              id="editBtn{{ i }}"
              *ngIf="canDelete(equipment.ID)"
              mat-icon-button
              matTooltip="{{ 'Delete Equipment Type' | translate }}"
              color="accent"
              (click)="
                deleteEquipmentTypeConfirmation(
                  equipment,
                  deleteConfirmationDialog
                )
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </div>
        <div *ngIf="role === 'SUPER_ADMIN'">
          <mat-header-cell *matHeaderCellDef>{{
            "Actions" | translate
          }}</mat-header-cell>
          <mat-cell *matCellDef="let equipment; let i = index">
            <button
              id="editBtn{{ i }}"
              mat-icon-button
              matTooltip="{{ 'Edit Equipment Type' | translate }}"
              color="accent"
              (click)="startEdit(equipment)"
            >
              <mat-icon>mode_edit</mat-icon>
            </button>
            <button
              id="editBtn{{ i }}"
              *ngIf="canDelete(equipment.ID)"
              mat-icon-button
              matTooltip="{{ 'Delete Equipment Type' | translate }}"
              color="accent"
              (click)="
                deleteEquipmentTypeConfirmation(
                  equipment,
                  deleteConfirmationDialog
                )
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </div>
        <div>
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let equipment; let i = index"> </mat-cell>
        </div>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let equipment; columns: displayedColumns"></mat-row>
    </mat-table>
    <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
    <div
      class="no-data"
      *ngIf="
        !_loading &&
        (!MyDataSource || (MyDataSource && MyDataSource.data.length == 0))
      "
    >
      {{ "No
      Records Found" | translate }}
    </div>
  </div>
</mat-card>

<ng-template #deleteConfirmationDialog>
  <mat-dialog-content>
    <p>{{ "DELETE_EQUIPMENT_CONFIRM_MSG" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      class="btn-two"
      (click)="deleteEquipmentType(successDialog, errorDialog)"
      cdkFocusInitial
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="_deleteLoading"
      ></span>
      {{ "OK" | translate }}
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-three"
      cdkFocusInitial
    >
      {{ "Cancel" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #successDialog>
  <mat-dialog-content>
    <p>{{ "DELETE_EQUIPMENT_SUCCESS" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      (click)="loadData()"
      class="btn-two"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorDialog>
  <mat-dialog-content>
    <p>{{ "Error" | translate }}: {{ errorMessage | translate }}.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
