.container {
  margin-top: 40px !important;
}
.row {
  margin: 0px !important;
  justify-content: space-between;
}
.mat-icon-button.mat-accent {
  color: #008AFC;
}
.no-data{
  padding: 20px;
  font-size: 16px;
  text-align: center;
}


