<router-outlet></router-outlet>
<mat-card class="example-card">
  <div class="row">
    <div class="page-heading" style="display:table-cell">
      {{'Equipment Management'|translate}} 
    </div>
    <div class="form add-btn-bx" *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')">
      <button mat-raised-button (click)="addNew()" class="btn-two">
        <mat-icon color="panel">add</mat-icon> {{'Add Equipment Type' | translate}}
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
     <mat-table #table [dataSource]="MyDataSource" matSort>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef >{{'Type Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type||0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="metadata_source">
      <mat-header-cell *matHeaderCellDef >{{'Source Name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.metadata_source||0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="parent_type">
      <mat-header-cell *matHeaderCellDef >{{'Parent Type' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.parent_type||'-'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="attributes">
        <mat-header-cell *matHeaderCellDef >{{'Attributes' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <a class="mat-button-link" matTooltip="{{'Click here to see Attributes List' | translate}}"
            (click)="listAttributes(row.type, row.attributes)">
                {{row.attributes.length||0}}</a>
          </mat-cell>
      </ng-container>
    <!-- actions -->
    <ng-container  matColumnDef="actions">
      <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')">
      <mat-header-cell  *matHeaderCellDef>{{'Actions' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(row.ID, row.type, row.metadata_id, row.metadata_source, row.parent_type, row.parent_id, row.attributes)">
          <mat-icon>mode_edit</mat-icon>
        </button>
      </mat-cell>
      </div>
      <div>
        <mat-header-cell  *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
        </mat-cell>
      </div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     </mat-table>
     <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
     <div class="no-data" *ngIf="!_loading && (!MyDataSource || (MyDataSource && MyDataSource.data.length ==0))">{{'No Records Found' | translate}}</div>
  </div>
 </mat-card>
