<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
   <div  mat-menu-item matTooltip="{{node.item.fully_qualified_name}}">{{node.item.name}}</div>
   <div >  <a mat-menu-item style="margin-right: 16px;" (click)="userManegment(node.item, node)">{{node.item.num_of_users}} users</a></div>

 <div ><a  mat-menu-item (click)="viewScope(node.item)"> View Scope</a></div>
 <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"  ><a *ngIf="(node.item.num_of_users === '0') && (node.item.num_of_child_groups === '0')"> <img style="height: 20px; margin-right: 16px;" mat-menu-item (click)="deleteGrp(node.item.ID, node)" src="\assets\images\delete-512.png"/></a></div>
  <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"> <a><img style="height: 20px; margin-right: 16px;" (click)="addNew(node.item, node)" mat-menu-item src="\assets\images\add.png"/> </a></div>
  <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"> <a><img style="height: 20px; margin-right: 16px;" mat-menu-item (click)="EditName(node.item,node)"  src="\assets\images\edit.png"/></a> </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button
            [attr.aria-label]="'toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <div mat-menu-item matTooltip="{{node.item.fully_qualified_name}}">  {{node.item.name}}</div>


  <div>  <a style="margin-right: 16px;" mat-menu-item (click)="userManegment(node.item, node)">{{node.item.num_of_users}} users</a></div>
 <!-- <div> <textarea matInput placeholder="Leave a comment" disabled></textarea> </div> -->
<!--  <div *ngFor="let x of node.item.scopes; let colIndex = index">{{x}},</div>
 -->
<!--  user{{node.item.num_of_users}}
 groupList{{node.item.num_of_child_groups}} -->
 <div ><a  mat-menu-item (click)="viewScope(node.item)"> View Scope</a></div>
 <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"><a *ngIf="(node.item.num_of_users === '0') && (node.item.num_of_child_groups === '0')"> <img style="height: 20px; margin-right: 16px;" mat-menu-item (click)="deleteGrp(node.item.ID)" src="\assets\images\delete-512.png"/></a></div>
  <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"> <a><img style="height: 20px; margin-right: 16px;" (click)="addNew(node.item)" mat-menu-item src="\assets\images\add.png"/> </a></div>
  <div *ngIf="(role === 'ADMIN') || (role === 'SUPER_ADMIN')"> <a><img style="height: 20px; margin-right: 16px;" mat-menu-item (click)="EditName(node.item,node)"  src="\assets\images\edit.png"/></a> </div>
    <mat-progress-bar *ngIf="node.isLoading"
                      mode="indeterminate"
                      class="example-tree-progress-bar"></mat-progress-bar>
  </mat-tree-node>

</mat-tree>
