.mat-card-content {
  width: 50% !important;
  border: 1px solid #D6D6D6;
  min-height: 400px;
  padding: 16px;
}

.Imgclass{
  height: 20px;
  margin-right: 16px;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.example-tree-progress-bar {
  margin-left: 30px;
  max-width: 20%;
}

.mat-icon {
  color: black;
  cursor: pointer;
}

#deleteBtn, #addBtn, #editBtn {
  margin: 0 5px !important;
}