#currentNode {
    color:#007bff;
}
.mat-icon {
    font-size: 18px;
}
.tab-content {
    margin-top: 8px;
    border: #EAEAEA 2px solid;
    padding: 15px;
}

.mat-column-computedDetails{   
    word-break: break-word !important;
  }
  
  .mat-column-metric{
      min-width: 7rem;
  }
  .mat-column-metric_name{
      min-width: 7rem;
  }
tr.queue-element-row:not(.queue-expanded-row):hover {
    background: whitesmoke;
}

tr.queue-element-row:not(.queue-expanded-row):active {
    background: #efefef;
}

.queue-element-row {
    border-bottom-width: 0;
}

tr.queue-detail-row {
    height: 0;
}

.mat-dialog-actions {
    justify-content: flex-end;
    padding-right: 10px;
}
table {
    width: 100%;
}
.queue-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-msg{
    color:red;
}
::ng-deep .errorTooltip {
    color: #F92F2F;
    font-weight: 500;
    border-radius: 0;
    background-color: white;
    border: 2px solid #F92F2F;
    border-left: 6px solid #F92F2F;
}
mat-menu-item {
    border: solid 1px #d1d8de !important;
    width:260px !important;
    height:41px !important;
    text-align: center !important;
  }
    .mat-menu-item-checked {
      background-color: #ffffff !important;
      font-weight: bold !important;
  }
  
    .mat-menu-item-toggle{
      width:50% !important;
      // font-size: 15px !important;
  }
.agg-detail-row.agg-expanded-row{
    height: 0;
    min-height: 0;
    opacity: 0;
}
.aggregation-detail {
    overflow: hidden;
    // display: flex;
    width: 100%;
  }
.expand-cell{padding: 0;}

.alert-primary{
    font-size: 14px;
}
.detail-table .mat-header-cell {
    background-color: #71C7E1;
    color: #fff;
    font-weight: 700;
    font-size: 13px !important;
    align-items: center !important;
    display: flex !important;
}
.detail-table .mat-header-row {
    min-height: 35px;
}
.detail-table .mat-row:nth-child(even) {
    background-color:#6CB9F929;
    ;
}
.detail-table .mat-row:nth-child(odd) {
    background-color: #B8DBF77A;
}
.expand-icon{vertical-align: middle;}
.expand-icon:hover{cursor: pointer;}
// .detail-table {padding: 10px 10px;}
// .main-table .mat-header-cell{padding: 0 10px;}
// .main-table .mat-header-cell:first-of-type, .detail-table .mat-cell:first-of-type{padding-left: 20px!important;}

.mat-cell{
    word-break: break-word !important;
}