<h1 mat-dialog-title></h1>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 page-heading">
        {{'Aggregation' | translate}}:<span>{{data.aggregationName}}</span> <mat-icon>arrow_forward_ios</mat-icon> <span id="currentNode">{{'Details' | translate}}</span>
      </div>
      <!-- &#62; -->
      <div class="col-lg-12">
        <div class="product-tabs">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-information-tab" data-toggle="tab" href="#nav-information" role="tab"
                aria-controls="nav-information" aria-selected="true">{{'Information' | translate}}</a>
              <a class="nav-item nav-link" id="nav-aq-rights-tab" data-toggle="tab" href="#nav-aq-rights" role="tab"
                aria-controls="nav-aq-rights" aria-selected="false">{{'Compliance' | translate}}</a>
              <a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab"
                aria-controls="nav-options" aria-selected="false">{{'Options' | translate}}</a>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
              <div class="tab-content-inner">
                <app-loading-spinner *ngIf="_loading && !productdetails"></app-loading-spinner>
                <app-information [productDetails]="productdetails" *ngIf="!_loading && productdetails"></app-information>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
              <div class="tab-content-inner">
                <app-loading-spinner *ngIf="_loading && !aggregationOptions"></app-loading-spinner>
                <app-options [productOptions]="aggregationOptions" *ngIf="!_loading && aggregationOptions"></app-options>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-aq-rights" role="tabpanel" aria-labelledby="nav-aq-rights-tab">
              <div class="tab-content-inner">
                <app-loading-spinner *ngIf="_loading && !acquireRight"></app-loading-spinner>
                <app-aq-rights [acquireRights]="acquireRight" *ngIf="!_loading && acquireRight"></app-aq-rights>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="btn-two" mat-dialog-close>{{'Cancel' | translate}}</button>
</mat-dialog-actions>