.main {
  height: calc(100vh - 90px) !important;
  min-height: calc(100vh - 90px) !important;
}

.content {
  background-color: white;
  padding: 0 16px;
}

.left-menu {
  padding: 0 16px;
}

::ng-deep .mat-menu-content {
  padding-top: 8px;
  padding-bottom: 115px;
}

.mat-button {
  margin-right: 5px;
}
.optisam-logo {
  background-color: #eaeaea;
  height: 60px;
}

.optisam-logo:hover {
  cursor: pointer;
}

.optisam-logo:focus {
  outline-width: 0;
}

#app-logo {
  padding: 6px 10px;
  width: 10.2em;
}
#app-logo-min {
  padding: 5px 10px;
  width: 4.5rem;
}

.flags {
  height: 14px;
  margin-right: 7px;
}

.mat-toolbar-row {
  padding: unset !important;
  max-height: 60px;
}
mat-toolbar {
  max-height: 60px;
}
.mat-toolbar-multiple-rows {
  min-height: 60px;
}
::ng-deep .mat-menu-panel {
  border-radius: unset !important;
  margin-top: 10px !important;
  max-height: calc(100vh - 98px) !important;
}
.mat-menu-item.routeactive {
  color: #008afc;
}
.mat-menu-item {
  color: black !important;
}
.mat-icon-header {
  color: #008afc !important;
}
.mat-icon-admin,
.mat-icon-menu {
  color: #000000e3 !important;
  height: 20px;
  width: 20px;
}
#nav-menu {
  color: black !important;
}
.mat-button {
  cursor: pointer !important;
}
#nav-user-guide:hover {
  text-decoration: none;
}

.loginButton {
  width: 30px;
}
.menu-item-icon-img {
  height: 20px;
  width: 20px;
  margin-right: 16px;
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none;
}

.tab-anchor {
  position: relative;
  .close-tab {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1em;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    // border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    mat-icon {
      font-size: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & {
    .close-tab {
      display: flex;
      padding: 3px;
      border-radius: 50%;
      transition: background-color 100ms;
      cursor: pointer;
      mat-icon {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: #00000067;
      }
    }
  }
}
