<div *ngIf="!loginStatus">
  <mat-toolbar color="ThemePalette" class="main-nav-bar">
    <mat-toolbar-row>
      <span
        id="app-logo"
        class="optisam-logo"
        matTooltip="{{ 'Dashboard' | translate }}"
        routerLink="/optisam/dashboard"
      >
        <img src="assets/images/OpTISAM-Logo.svg" />
      </span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button class="btn-two file" (click)="login()" mat-raised-button>
          Login
        </button>
        <!-- <a id="nav-admin-menu" mat-button [routerLink]="'/'">
                <mat-icon class="mat-icon-header" matsuffix>face</mat-icon>
            </a> -->

        <a
          id="nav-language-menu"
          mat-button
          [matMenuTriggerFor]="menu1"
          (click)="checkLanguage()"
        >
          <mat-icon class="mat-icon-header" matsuffix>language</mat-icon>
          {{ "language" | translate }}
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
        <mat-menu #menu1="matMenu">
          <button
            id="nav-language-en"
            mat-menu-item
            *ngIf="currLang == 'fr'"
            (click)="updateUserLanguage('en')"
          >
            <img class="flags" src="assets/images/en.png" />English
          </button>
          <button
            id="nav-language-fr"
            mat-menu-item
            *ngIf="currLang == 'en'"
            (click)="updateUserLanguage('fr')"
          >
            <img class="flags" src="assets/images/fr.png" />French
          </button>
        </mat-menu>

        <a id="nav-help" mat-button [matMenuTriggerFor]="menu3">
          <mat-icon class="mat-icon-header" matsuffix>help_outline</mat-icon>
        </a>
        <mat-menu #menu3="matMenu">
          <a
            id="nav-user-guide"
            mat-menu-item
            href="https://optisam.pages.gitlab.tech.orange/optisam-it/optisam-ui/"
            target="_blank"
          >
            <mat-icon class="mat-icon-menu">help_outline</mat-icon
            >{{ "User Guide" | translate }}
          </a>
          <button id="nav-about" mat-menu-item (click)="openAboutUs()">
            <mat-icon class="mat-icon-menu">info_outline</mat-icon
            >{{ "About" | translate }}
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<ng-template #warningDialog>
  <mat-dialog-content>
    <p>
      {{ "Changing scope to " | translate }}
      <strong>{{ newScope.scope_code }}</strong
      >.
    </p>
    <p>
      {{ "You will be taken to the dashboard after clicking OK." | translate }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToHome(); changeScope()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-three"
      cdkFocusInitial
    >
      {{ "Cancel" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #warningDashboardDialog>
  <mat-dialog-content>
    <p>
      {{ "Changing scope to " | translate }}
      <strong>{{ newScope.scope_code }}</strong
      >.
    </p>
    <p>{{ "You will see the new data after clicking OK." | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="changeScope()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-three"
      cdkFocusInitial
    >
      {{ "Cancel" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>

<div fxFlexFill fxLayout="column" class="main">
  <mat-card>
    <div class="tabs">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          class="tab-anchor"
          *ngFor="let tab of productCatalogTabs; let i = index"
          [active]="selectedTab == tab.title"
          (click)="changeTab(tab.title)"
        >
          {{ tab?.alias || tab?.title | translate }}
          {{ tab?.alias && "(" + (tab?.title | translate) + ")" }}
          <div class="close-tab" *ngIf="i > 2" (click)="closeTab(i)">
            <mat-icon>close</mat-icon>
          </div>
        </a>
      </nav>
    </div>
  </mat-card>

  <div class="content">
    <ng-template
      [ngTemplateOutlet]="isDashboard ? dashboard : notDashboard"
    ></ng-template>
  </div>
</div>
<ng-template #notDashboard>
  <app-editors-list-thumbnail
    (editorInfo)="editorInfo = $event"
    [ngStyle]="{ display: isEditor ? 'initial' : 'none' }"
  ></app-editors-list-thumbnail>
  <app-editor-detail
    [data]="editorInfo"
    [ngStyle]="{ display: isEditorDetail ? 'initial' : 'none' }"
    class="editor-details"
  ></app-editor-detail>

  <app-products-list-thumbnail
    *ngIf="isInProductSet"
    (productDetail)="productInfo = $event"
    [ngStyle]="{ display: isProduct ? 'initial' : 'none' }"
  ></app-products-list-thumbnail>
  <app-product-detail
    class="product-details"
    [data]="productInfo"
    [ngStyle]="{
      display: isProductDetail ? 'initial' : 'none'
    }"
  ></app-product-detail>
</ng-template>

<ng-template #dashboard>
  <app-product-catalog-dashboard></app-product-catalog-dashboard>
</ng-template>
