<h2 mat-dialog-title>{{ "Confirmation" | translate }}</h2>

<mat-dialog-content>
  <p>
    {{ "Are you Sure want to remove this Global Account Manager" | translate }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-button
    [mat-dialog-close]="true"
    class="btn-two"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ "OK" | translate }}</button
  >&nbsp;
  <button
    mat-button
    [mat-dialog-close]="false"
    class="btn-three"
    cdkFocusInitial
  >
    {{ "Cancel" | translate }}
  </button>
</mat-dialog-actions>
