<div class="page-heading" mat-dialog-title>{{ equipNameCapitalized }}</div>
<mat-dialog-content>
  <div>
    <div class="row">
      <div class="col-lg-12 page-heading"></div>
      <!-- &#62; -->
      <div class="col-lg-12">
        <div class="product-tabs">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-eqp-home-tab"
                data-toggle="tab"
                href="#nav-eqp-home"
                role="tab"
                aria-controls="nav-eqp-home"
                aria-selected="true"
                >{{ "Detail" | translate }}</a
              >
              <a
                class="nav-item nav-link"
                id="nav-eqp-parent-tab"
                data-toggle="tab"
                href="#nav-eqp-parent"
                role="tab"
                aria-controls="nav-eqp-parent"
                aria-selected="false"
                [hidden]="parentDisplay"
                (click)="getParent()"
                >{{ "Parent" | translate }}</a
              >

              <a
                class="nav-item nav-link"
                id="nav-eqp-children-tab"
                data-toggle="tab"
                href="#nav-eqp-children"
                role="tab"
                aria-controls="nav-eqp-children"
                aria-selected="false"
                [hidden]="!(childRefrenceArr.length > 0)"
                (click)="getchildRef()"
                >{{ "Children" | translate }}</a
              >
              <a
                class="nav-item nav-link"
                id="nav-eqp-product-tab"
                data-toggle="tab"
                href="#nav-eqp-product"
                role="tab"
                aria-controls="nav-eqp-product"
                aria-selected="false"
                (click)="getProduct()"
                >{{ "Product" | translate }}</a
              >
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContentx">
            <!-- Equipment Details -->
            <div
              class="tab-pane fade show active"
              id="nav-eqp-home"
              role="tabpanel"
              aria-labelledby="nav-eqp-home-tab"
            >
              <div class="tab-content-inner">
                <div *ngFor="let x of detailEq; let colIndex = index">
                  <p>
                    <strong>{{ x.key }}:</strong> {{ x.value }}
                  </p>
                </div>
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
              </div>
            </div>
            <!-- Equipment Parent -->
            <div
              class="tab-pane fade"
              id="nav-eqp-parent"
              role="tabpanel"
              aria-labelledby="nav-eqp-parent-tab"
            >
              <div class="tab-content-inner">
                <div *ngIf="!_loading" class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngFor="let tabelHead of reuseKeyName">
                          {{ tabelHead }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of reuseValueName;
                          let colIndex = index
                        "
                      >
                        <td *ngFor="let keyName of reuseKeyName">
                          {{ item[keyName] }}
                        </td>
                      </tr>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
              </div>
            </div>
            <!-- Equipment Children -->
            <div
              class="tab-pane fade"
              id="nav-eqp-children"
              role="tabpanel"
              aria-labelledby="nav-eqp-children-tab"
            >
              <div class="tab-content-inner">
                <mat-card class="custome-card">
                  <!-- Popup's Tab Content heading -->
                  <div class="container-fluid">
                    <div class="row popup-tab-row">
                      <div class="col-md-9 nav-path">
                        {{ "List of children" | translate }}
                      </div>
                      <div class="col-md-3 search-div">
                        <mat-form-field
                          class="search-form-field"
                          floatLabel="never"
                        >
                          <input
                            matInput
                            placeholder="{{
                              'Search by Attribute' | translate
                            }}"
                            disabled
                            autocomplete="on"
                          />
                          <button
                            id="toggleSearchKey"
                            mat-button
                            mat-icon-button
                            matSuffix
                            class="btn-toggle"
                            [matMenuTriggerFor]="menu"
                          >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                          </button>
                          <mat-menu
                            #menu
                            style="
                              margin-left: -150px !important;
                              border-radius: 0px !important;
                            "
                          >
                            <div
                              mat-menu-item
                              mat-filter-item
                              [disableRipple]="true"
                              class="menu-title"
                            >
                              {{ "Advance Search" | translate }}
                            </div>
                            <div
                              mat-menu-item
                              mat-filter-item
                              [disableRipple]="true"
                              [formGroup]="filterGroup"
                              *ngFor="let search of displayedrows"
                            >
                              <mat-form-field>
                                <input
                                  matInput
                                  placeholder="{{ typeArray[search] }}"
                                  formControlName="{{ search }}"
                                />
                              </mat-form-field>
                            </div>
                            <div
                              mat-menu-item
                              mat-filter-item
                              [disableRipple]="true"
                            >
                              &nbsp;
                              <button
                                class="btn-four"
                                mat-raised-button
                                (click)="clearChildFilter()"
                              >
                                {{ "Clear" | translate }}</button
                              >&nbsp;
                              <button
                                mat-raised-button
                                class="primary-btn"
                                (click)="applyChildFilter()"
                              >
                                {{ "Search" | translate }}
                              </button>
                            </div>
                          </mat-menu>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- End Popup's Tab Content heading -->

                  <div
                    class="children-table"
                    *ngIf="!_loading && childRefrenceArr.length != 0"
                  >
                    <nav mat-tab-nav-bar *ngIf="childRefrenceArr.length > 0">
                      <a
                        mat-tab-link
                        class="tab-anchor"
                        *ngFor="let disCol of childRefrenceArr"
                        routerLinkActive="active"
                        (click)="getChild(disCol); activeLink = disCol.type"
                        [active]="activeLink == disCol.type"
                      >
                        {{ disCol.type | uppercase | translate }}
                      </a>
                    </nav>
                    <div
                      *ngIf="
                        !_loading && childRefrenceArr.length != 0 && dataSource
                      "
                    >
                      <mat-table
                        [dataSource]="dataSource"
                        matSort
                        (matSortChange)="sortData($event)"
                        scrollX="true"
                        maxWidth="400"
                      >
                        <ng-container
                          cdkColumnDef="userId"
                          *ngFor="let x of displayedrows; let colIndex = index"
                          matColumnDef="{{ x }}"
                        >
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ typeArray[x] }}</mat-header-cell
                          >
                          <mat-cell *matCellDef="let element">
                            {{ element[x] }}
                          </mat-cell>
                        </ng-container>
                        <mat-header-row
                          *matHeaderRowDef="displayedrows"
                          [ngClass]="moreRows ? 'extendrow' : ''"
                        ></mat-header-row>
                        <mat-row
                          *matRowDef="let row; columns: displayedrows"
                          [ngClass]="moreRows ? 'extendrow' : ''"
                        ></mat-row>
                      </mat-table>
                      <mat-paginator
                        [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[50, 100, 200]"
                        (page)="pageEvent = getPaginatorData($event)"
                        showFirstLastButtons
                      >
                      </mat-paginator>
                    </div>
                  </div>
                </mat-card>
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
              </div>
            </div>
            <!-- Equipment Products -->
            <div
              class="tab-pane fade"
              id="nav-eqp-product"
              role="tabpanel"
              aria-labelledby="nav-eqp-product-tab"
            >
              <div class="tab-content-inner">
                <mat-card class="example-card" [hidden]="productStatus">
                  <div class="container-fluid page-content-header">
                    <div class="row">
                      <div class="col-md-9 nav-path">
                        {{ "Product List" | translate }}
                      </div>

                      <div class="col-md-3 search-div">
                        <app-advance-search
                          [advanceSearchModel]="advanceSearchModel"
                          (advFilterEvent)="advSearchTrigger($event)"
                        ></app-advance-search>
                      </div>
                    </div>
                  </div>

                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <mat-table
                        [dataSource]="productdataSource"
                        matSort
                        (matSortChange)="productSortData($event)"
                      >
                        <ng-container matColumnDef="swidTag">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header="swidtag"
                            >{{ "SWIDtag" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.swidTag }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header="name"
                            >{{ "Product name" | translate }}
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let product"
                            matTooltip="{{ product.name }}"
                          >
                            <a
                              class="ellipsis mat-button-link"
                              (click)="
                                openDialog(product.swidTag, product.name)
                              "
                            >
                              {{ product.name }}
                            </a>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="editor">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header="editor"
                            >{{ "Editor name" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.editor }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="version">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header="version"
                            >{{ "Version" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.version }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numofEquipments">
                          <mat-header-cell *matHeaderCellDef
                            >{{ "Equipment Count" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.numofEquipments }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="equipmentUsers">
                          <mat-header-cell *matHeaderCellDef
                            >{{ "ALLOCATED_USER" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.allocatedUser }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="allocatedMetric">
                          <mat-header-cell *matHeaderCellDef
                            >{{ "Allocated Metric" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.allocatedMetric }}
                          </mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef
                            >{{ "Action" | translate }}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{ product.action }}
                          </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef>{{
                            "Action" | translate
                          }}</mat-header-cell>
                          <mat-cell *matCellDef="let product; let i = index">
                            <mat-icon
                              class="action-icon"
                              matTooltip="{{ 'Edit' | translate }}"
                              (click)="openEditDialog(product)"
                              >edit</mat-icon
                            >

                            <mat-icon
                              class="action-icon"
                              *ngIf="!!product.allocatedMetric"
                              matTooltip="{{ 'Delete' | translate }}"
                              (click)="deleteConfirm(product)"
                              >delete</mat-icon
                            >
                          </mat-cell>
                        </ng-container>

                        <mat-header-row
                          *matHeaderRowDef="productColumn; sticky: true"
                        ></mat-header-row>
                        <mat-row
                          *matRowDef="let row; columns: productColumn"
                        ></mat-row>
                      </mat-table>
                      <!-- <app-loading-spinner *ngIf="_loading"></app-loading-spinner> -->
                      <mat-paginator
                        [length]="productLength"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[50, 100, 200]"
                        (page)="pageEvent = getProductPaginatorData($event)"
                        showFirstLastButtons
                      >
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn-two" mat-raised-button mat-dialog-close>
    {{ "Cancel" | translate }}
  </button>
</mat-dialog-actions>
