<h1 mat-dialog-title>{{equipName}}</h1>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 page-heading"></div>
      <!-- &#62; -->
      <div class="col-lg-12">
        <div class="product-tabs">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">{{'Detail' | translate}}</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false" [hidden]="parentDisplay"
                (click)="getParent()">{{'Parent' | translate}}</a>

              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false" [hidden]=" !(childRefrenceArr.length > 0)"
                (click)="getchildRef()">{{'Children' | translate}}</a>
              <a class="nav-item nav-link" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab"
                aria-controls="nav-product" aria-selected="false" (click)="getProduct()">{{'Product' | translate}}</a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContentx">

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="tab-content-inner">
                <div *ngFor="let x of keyArr; let colIndex = index">
                  <p><strong>{{x}}:</strong> {{valueArr[colIndex] }}</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="tab-content-inner">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th *ngFor="let tabelHead of reuseKeyName">
                          {{tabelHead}}
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of reuseValueName; let colIndex = index">
                        <td *ngFor="let keyName of reuseKeyName">{{item[keyName]}}</td>

                      </tr>
                      <tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="tab-content-inner">
                <mat-card class="custome-card">
                  <!-- Popup's Tab Content heading -->
                  <div class="container-fluid">
                    <div class="row popup-tab-row">
                      <div class="col-md-9 popup-tab-title">
                        <h4>Here will be tab content title</h4>
                      </div>
                      <div class="col-md-3 search-div">
                        <mat-form-field class="search-form-field" floatLabel="never">
                          <input matInput placeholder="{{'Search by Attribute'|translate}}" disabled autocomplete="on">
                          <button mat-button matSuffix class="btn-toggle" [matMenuTriggerFor]="menu">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                          </button>
                          <mat-menu #menu>
                            <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                              {{'Advance Search' | translate}}
                            </div>
                            <div mat-menu-item mat-filter-item [disableRipple]="true" [formGroup]="filterGroup"
                              *ngFor="let search of displayedrows">
                              <mat-form-field>
                                <input matInput placeholder="{{search}}" formControlName="{{search}}">
                              </mat-form-field>
                            </div>
                            <div mat-menu-item mat-filter-item [disableRipple]="true">
                              <button mat-raised-button (click)="clearChildFilter()">{{'Clear'|translate}}</button>
                              <button mat-raised-button color="primary"
                                (click)="applyChildFilter()">{{'Search'|translate}}</button>
                            </div>
                          </mat-menu>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!-- End Popup's Tab Content heading -->

                  <div class="server-tab">
                    <mat-toolbar-row>
                      <button mat-button routerLinkActive="active" *ngFor="let disCol of childRefrenceArr"
                        (click)="getChild(disCol)">{{disCol.type|uppercase}}</button>
                    </mat-toolbar-row>

                    <div class="server-table">
                      <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" scrollX="true"
                        maxWidth="400">
                        <ng-container cdkColumnDef="userId" *ngFor="let x of displayedrows; let colIndex = index"
                          matColumnDef="{{x}}">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> {{x}}</mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element[x]}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedrows"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedrows;"></mat-row>
                      </mat-table>
                    </div>
                  </div>

                  <mat-paginator [length]="length" [pageSize]="page_size" [pageSizeOptions]="[10,20,30,50]"
                    (page)="pageEvent = getPaginatorData($event)" showFirstLastButtons>
                  </mat-paginator>
                </mat-card>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
              <div class="tab-content-inner">

                <mat-card class="example-card" [hidden]="productStatus">

                  <div class="container-fluid page-content-header">
                    <div class="row">
                      <div class="col-md-9 page-heading">
                        <h4>Here will be tab content title</h4>
                      </div>

                      <div class="col-md-3 search-div">
                        <app-advance-search [advanceSearchModel]="advanceSearchModel" (advFilterEvent)="advSearchTrigger($event)"></app-advance-search>       

                        <!-- <mat-form-field [hidden]="productStatus" class="search-form-field" floatLabel="never">
                          <input matInput placeholder="{{'Search by Product Name'|translate}}" autocomplete="on"
                            [(ngModel)]="productnamePlaceholder" (keyup)="setSelected($event.target.value, 2 )">
                          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="productnamePlaceholder"
                            (click)="applyFilter()">
                            <mat-icon>search</mat-icon>
                          </button>
                          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()"
                            *ngIf="productnamePlaceholder">
                            <mat-icon>clear</mat-icon>
                          </button>
                          <button mat-button matSuffix class="btn-toggle" [matMenuTriggerFor]="menu1">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                          </button>
                          <mat-menu #menu1>
                            <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                              {{'Advance Search' | translate}}
                            </div>
                            <div mat-menu-item mat-filter-item [disableRipple]="true">
                              <mat-form-field>
                                <input matInput placeholder="{{'SWIDtag'|translate}}" [(ngModel)]="swidtagPlaceholder"
                                  (keyup)="setSelectedSearch($event.target.value, 1 )">
                              </mat-form-field>
                            </div>
                            <div mat-menu-item mat-filter-item [disableRipple]="true">
                              <mat-form-field>
                                <input matInput placeholder="{{'Product name'|translate}}"
                                  [(ngModel)]="productnamePlaceholder"
                                  (keyup)="setSelectedSearch($event.target.value,2)">
                              </mat-form-field>
                            </div>
                            <div mat-menu-item mat-filter-item [disableRipple]="true">
                              <mat-form-field>
                                <input matInput placeholder="{{'Editor name'|translate}}"
                                  [(ngModel)]="EditorNamePlaceholder"
                                  (keyup)="setSelectedSearch($event.target.value,3)">
                              </mat-form-field>
                            </div>

                            <div mat-menu-item mat-filter-item [disableRipple]="true">
                              <button mat-raised-button (click)="clearFilter()">{{'Clear'|translate}}</button>
                              <button mat-raised-button color="primary"
                                (click)="applyFilter()">{{'Search'|translate}}</button>
                            </div>
                          </mat-menu>
                        </mat-form-field> -->
                      </div>

                    </div>
                  </div>

                  <mat-card-content>
                    <div class="mat-elevation-z8">
                      <mat-table [dataSource]="productdataSource" matSort (matSortChange)="productSortData($event)">

                        <ng-container matColumnDef="swidTag">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="swidtag">{{'SWIDtag' | translate}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product"> {{product.swidTag}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="name">{{'Product name' | translate}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product">
                            {{product.name }}
                          </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="editor">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="editor">{{'Editor name' | translate}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product"> {{product.editor}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="version">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="version">{{'Version'| translate}}
                          </mat-header-cell>
                          <mat-cell *matCellDef="let product"> {{product.version}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="productColumn; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: productColumn;"></mat-row>
                      </mat-table>
                      <!-- <mat-paginator #paginator [pageSize]="7" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> -->
                      <mat-paginator [length]="productLength" [pageSize]="page_size" [pageSizeOptions]="[10,20,30,50]"
                        (page)="pageEvent = getProductPaginatorData($event)" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>{{'CANCEL' | translate}}</button>
</mat-dialog-actions>