<div>
  <div>
    <strong>{{ "Licenses-maintenance" | translate }}: </strong>
    {{ aggregationMaintenance?.num_licences_maintenance || "" }}
  </div>
  <div>
    <strong>Maintenance unit price : </strong>
    {{ aggregationMaintenance?.avg_maintenance_unit_price || 0 }}
  </div>
  <div>
    <strong>Maintenance provider : </strong>
    {{ aggregationMaintenance?.maintenance_provider || "" }}
  </div>
  <div>
    <strong>Start of maintenance : </strong>
    {{
      aggregationMaintenance?.start_of_maintenance
        ? (aggregationMaintenance?.start_of_maintenance | date : "d/M/y")
        : ""
    }}
  </div>
  <div>
    <strong>End of maintenance : </strong>
    <span
      [ngClass]="{
        'error-msg': isDateLessThanToday(
          aggregationMaintenance?.end_of_maintenance
        )
      }"
    >
      {{
        aggregationMaintenance?.end_of_maintenance
          ? (aggregationMaintenance?.end_of_maintenance | date : "d/M/y")
          : ""
      }}</span
    >
  </div>
  <div>
    <strong>Support number : </strong>
    {{ aggregationMaintenance?.support_number || 0 }}
  </div>
  <div>
    <strong>Total maintenance : </strong>
    {{ aggregationMaintenance?.total_maintenance_cost || 0 }}
  </div>
</div>
