.mat-column-Action {
  flex: 0 0 100px;
}

.mat-column-editor {
  flex: 1 0 500px;
}

.mat-column-ProductManager {
  flex: 0 0 190px;
}

.mat-column-groupContract {
  flex: 0 0 130px;
}

.mat-column-vendor {
  flex: 0 0 150px;
}

.mat-column-noOfProducts {
  flex: 0 0 128px;
}

.mat-column-Audit {
  flex: 0 0 85px;
}

.action-icon {
  font-size: 1.2em;
}

mat-cell {
  word-break: break-word;
}

.mat-header-row,
.mat-row {
  flex-wrap: nowrap;
}

mat-table {
  overflow-x: auto;
}

@media only screen and (min-width: 1720px) {
  .mat-column-ProductManager {
    flex-grow: 1;
  }

  .mat-column-vendor {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 440px) {
  .mat-header-row,
  .mat-row {
    width: 250%;
  }
}

@media only screen and (min-width: 769px) {
  .mat-header-row,
  .mat-row {
    width: 235%;
  }
}

@media only screen and (min-width: 801px) {
  .mat-header-row,
  .mat-row {
    width: 125%;
  }
}

@media only screen and (min-width: 897px) {
  .mat-header-row,
  .mat-row {
    width: 125%;
  }
}

@media only screen and (min-width: 1281px) {
  .mat-header-row,
  .mat-row {
    width: 116%;
  }
}

@media only screen and (min-width: 1367px) {
  .mat-header-row,
  .mat-row {
    width: 100%;
  }
}
