.width-clearfix {
  clear: both;
  width: 20px;
}
.horizontal {
  display: flex;
}
.single-field {
  width: 49%;
  margin: 0 0px;
}
.spinner-border-sm {
  height: 1rem !important;
  width: 1rem;
}
.confirm-btn {
  width: 90px;
}
.swidtabs {
  display: flex;
}
.left,
.right {
  width: 46%;
  border: 1px solid;
  overflow-y: auto;
  border-radius: 5px 5px 0px 0px;
}
.transtitle {
  padding: 7px;
  margin-bottom: 0;
}
.left .transtitle {
  background-color: #ccc;
}
.left {
  border-color: #ccc;
}
.right .transtitle {
  background-color: #ccc;
}
.right {
  border-color: #ccc;
}
.right .body,
.left .body {
  height: 100px;
  // overflow-y: auto;
}
.trans-icon {
  width: 8%;
  text-align: center;
}
.list-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
span {
  width: 90%;
  word-break: break-all;
}
.add {
  color: green;
  cursor: pointer;
}
.cancel {
  color: red;
  cursor: pointer;
}

mat-dialog-actions {
  margin-top: 15px;
  margin-bottom: 0px;
}

::ng-deep .mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: black;
}

::ng-deep .mat-select-panel#products-panel {
  min-width: calc(100% + 16px) !important;
  margin-left: 32px;
  margin-top: 32px;
  color: #008afc;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
::ng-deep .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #008afc;
}
