<!-- <mat-card class="example-card" style="padding:44px;z-index: 0;"> -->
<mat-card class="example-card" style="z-index: 0;">

  <div class="container-fluid page-content-header">
    <div class="row">
      <div class="col-md-9 page-heading">
        <h4>{{'List of Inventoried Applications'|translate}} </h4>
      </div>
      <div class="col-md-3 search-div">
        <app-advance-search [advanceSearchModel]="advanceSearchModel" (advFilterEvent)="advSearchTrigger($event)"></app-advance-search>       
      </div>
    </div>
  </div>

  <mat-card-content>
    <div class="mat-elevation-z8">

      <mat-table [dataSource]="MyDataSource" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header="name"> {{'Application name' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="application_owner">
          <mat-header-cell *matHeaderCellDef mat-sort-header="application_owner">{{'Owner' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let product">{{product.application_owner}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numofProducts">
          <mat-header-cell *matHeaderCellDef mat-sort-header="numofProducts">{{'Number of products'| translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let product">
            <!-- <button mat-icon-button color="primary" (click)="openDialog(product.swidTag,product.name)"> -->
            <a mat-icon-button color="primary" (click)="productDetails(product.name,product.applicationId)">
              {{product.numofProducts}} </a>
            <a fxFlexFill class="mat-row-link"></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numOfInstances">
          <mat-header-cell *matHeaderCellDef mat-sort-header="numOfInstances">{{'Number of instances' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let product">
            <!-- <a mat-icon-button color="primary"> -->
              {{product.numOfInstances}} 
            <!-- </a> -->
            <!-- <a fxFlexFill class="mat-row-link"></a> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numofEquipment">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Number of equipment'| translate}}</mat-header-cell>
          <mat-cell *matCellDef="let product">
            <!-- <a mat-icon-button color="primary"> -->
              {{0}} 
            <!-- </a> -->
            <!-- <a fxFlexFill class="mat-row-link"></a> -->
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalCost">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Total cost(€)'|translate}}</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{0}}
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <!-- <app-loading-spinner *ngIf="_loading"></app-loading-spinner> -->
      <!-- <mat-paginator #paginator [pageSize]="7" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> -->
      <mat-paginator [length]="length" [pageSize]="page_size" [pageSizeOptions]="[10,20,30,50]"
        (page)="pageEvent = getPaginatorData($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
