<mat-card class="example-card">
  <div class="container-fluid page-content-header">
    <div class="row">
      <div class="col-md-9 page-heading">
        {{ "List of Aggregations" | translate }}
      </div>
      <div class="col-md-3 search-div">
        <app-advance-search
          [advanceSearchModel]="advanceSearchModel"
          [existingFilterFields]="searchFields"
          (advFilterEvent)="advSearchTrigger($event)"
        >
        </app-advance-search>
      </div>
    </div>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <mat-table
        class="main-table"
        [dataSource]="productAggregationData"
        matSort
        (matSortChange)="sortData($event)"
        multiTemplateDataRows
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of displayedColumns"
        >
          <div *ngIf="sortColumn.indexOf(column) !== -1">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ tableKeyLabelMap[column] | translate }}
            </mat-header-cell>
          </div>
          <div *ngIf="sortColumn.indexOf(column) === -1">
            <mat-header-cell *matHeaderCellDef>
              {{ tableKeyLabelMap[column] | translate }}
            </mat-header-cell>
          </div>
          <mat-cell *matCellDef="let product">
            <div [ngSwitch]="column">
              <span *ngSwitchCase="'swidTag'">{{ product.swidtags }}</span>

              <div *ngSwitchCase="'aggregation_name'">
                <mat-icon
                  *ngIf="expandedRow !== product"
                  class="expand-icon"
                  (click)="expandAggregation(product)"
                  >add_box</mat-icon
                >
                <mat-icon
                  *ngIf="expandedRow === product"
                  class="expand-icon"
                  (click)="closeAggregation()"
                  >indeterminate_check_box</mat-icon
                >
                <a
                  class="align-left"
                  id="AggrName"
                  matTooltip="{{
                    'Click here to see Aggregation Details' | translate
                  }}"
                  (click)="openAggregationDetailsDialog(product)"
                >
                  {{ product.aggregation_name }}
                </a>
              </div>

              <div *ngSwitchCase="'num_applications'">
                <span
                  *ngIf="
                    !product.num_applications || product.num_applications == 0
                  "
                  >{{ product.num_applications || 0 }}</span
                >
                <a
                  *ngIf="product.num_applications"
                  class="align-left mat-button-link"
                  (click)="prodAggrApplications(product.aggregation_name)"
                  matTooltip="{{
                    'Click here to see related Applications' | translate
                  }}"
                  (click)="aggrAplDetails(product.SwidTag)"
                >
                  {{ product.num_applications }}
                </a>
              </div>
              <div *ngSwitchCase="'num_equipments'">
                <span
                  *ngIf="!product.num_equipments || product.num_equipments == 0"
                  >{{ product.num_equipments || 0 }}</span
                >
                <a
                  *ngIf="product.num_equipments"
                  class="align-left mat-button-link"
                  (click)="prodAggrEquipments(product.aggregation_name)"
                  matTooltip="{{
                    'Click here to see related Equipments' | translate
                  }}"
                >
                  {{ product.num_equipments }}
                </a>
              </div>

              <!-- <ng-container matColumnDef="version">
                    <mat-header-cell *matHeaderCellDef mat-sort-header="version">{{'Release'| translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product"> {{product.version}} </mat-cell>
                  </ng-container> -->

              <span *ngSwitchDefault>{{ product[column] || "-" }}</span>
            </div>
          </mat-cell>
          ,
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell
            class="expand-cell"
            *matCellDef="let product"
            [attr.colspan]="expandDisplayedColumns.length"
          >
            <div
              class="aggregation-detail mat-elevation-z8"
              [@detailExpand]="
                product == expandedRow ? 'expanded' : 'collapsed'
              "
            >
              <mat-table class="detail-table" [dataSource]="aggregationDetails">
                <ng-container
                  matColumnDef="{{ column }}"
                  *ngFor="let column of expandDisplayedColumns"
                >
                  <mat-header-cell *matHeaderCellDef>
                    {{ tableKeyLabelMap[column] | translate }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div [ngSwitch]="column">
                      <!-- <a
                        *ngSwitchCase="'name'"
                        class="align-left mat-button-link"
                        matTooltip="{{ element.name }}"
                        (click)="
                          openProductDetailsDialog(
                            element.swidTag,
                            element.name
                          )
                        "
                      >
                        {{ element.name }}
                      </a> -->

                      <!-- <div *ngSwitchCase="'numOfApplications'">
                        <span *ngIf="!element.numOfApplications">{{
                          element.numOfApplications || 0
                        }}</span>
                        <a
                          *ngIf="element.numOfApplications"
                          class="align-left mat-button-link"
                          mat-icon-button
                          matTooltip="{{
                            'Click here to see related Applications' | translate
                          }}"
                          (click)="productApl(element.swidTag, element.name)"
                        >
                          {{ element.numOfApplications }}
                        </a>
                      </div> -->

                      <!-- <div *ngSwitchCase="'numofEquipments'">
                        <span *ngIf="!element.numofEquipments">{{
                          element.numofEquipments || 0
                        }}</span>
                        <a
                          *ngIf="element.numofEquipments"
                          class="align-left mat-button-link"
                          mat-icon-button
                          matTooltip="{{
                            'Click here to see related Equipments' | translate
                          }}"
                          (click)="productEqui(element.swidTag, element.name)"
                        >
                          {{ element.numofEquipments }}
                        </a>
                      </div> -->

                      <span *ngSwitchDefault>{{ element[column] || "-" }}</span>
                    </div>
                  </mat-cell>
                  ,
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="expandDisplayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: expandDisplayedColumns"
                ></mat-row>
              </mat-table>
              <app-loading-spinner
                *ngIf="_loading && !aggregationDetails"
              ></app-loading-spinner>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="agg-detail-row"
          [class.agg-expanded-row]="!expandedRow || expandedRow !== row"
        ></mat-row>
      </mat-table>
      <app-loading-spinner
        *ngIf="_loading && !productAggregationData"
      ></app-loading-spinner>
      <div
        class="no-data"
        *ngIf="
          !_loading &&
          (!productAggregationData ||
            (productAggregationData &&
              productAggregationData.data.length === 0))
        "
      >
        {{ "No data available" | translate }}
      </div>
      <mat-paginator
        [length]="length"
        [pageSize]="page_size"
        [pageSizeOptions]="[50, 100, 200]"
        (page)="getPaginatorData($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
