.mat-card {
    width: 440px;
    height: 400px;
    background-color: rgba(255,255,255,0.95);
    padding: 30px;
    color: #333;
    font-size: 0.875rem;
    line-height: 1.5;
}

.bg{
  background-image: url(/assets/images/login-bg3.jpg) ;
  background-size: cover;
  min-height: 100%;
  padding-top: 8vh;
  display: grid;
}
#loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#cookieBannerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div#cookieBanner {
  display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 16px 16px 16px 8px;
    color: white;
    background: black;
    border-radius: 6px;
    margin: 16px;
}

#bannerContent {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
#closeBannerIcon {
  cursor: pointer;
  background: #292929;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  font-size: 14px;
  padding: 2px;
  color: #F1F1F1;
}

.loginTopHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerBtns .mat-button {
  padding: 0 8px !important;
  min-width: 52px;
}
.loginHeading {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55%;
}

.flags {
  height: 14px;
  margin-right: 7px;
}

.spinner-border-sm{
  height: 1rem !important;
}

.diableClick{pointer-events: none; cursor: not-allowed;}

.alert{height: inherit;}
mat-icon{vertical-align: middle;}
#version {
  display: flex;
  justify-content: center;
}