.mat-card {
    width: 440px;
    height: 400px;
    background-color: rgba(255,255,255,0.95);
    padding: 30px;
    color: #333;
    font-size: 0.875rem;
    line-height: 1.5;
}

.bg{
  background-image: url(/assets/images/login-bg3.jpg) ;
  background-size: cover;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginTopHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginHeading {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55%;
}

.flags {
  height: 14px;
  margin-right: 7px;
}

.spinner-border-sm{
  height: 1rem !important;
}

.diableClick{pointer-events: none; cursor: not-allowed;}

.alert{height: inherit;}
mat-icon{vertical-align: middle;}
#version {
  display: flex;
  justify-content: center;
}