
.shared-licences-item {
    border: 1px solid rgb(193, 193, 193);
    padding: 20px 10px 5px 5px;
    border-radius: 6px;
    position: relative;
    margin: 10px;
  }

  .shared-licences-item mat-icon.close-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    display: none;
    border: 1px solid black;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    color: black;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .shared-licences-item:hover mat-icon.close-btn {
    display: flex;
  }
  
  .shared-licences-item mat-form-field {
    margin-right: 5px;
    margin-left: 5px;
  } 
  

  .add-pm-type-btn{
    margin: 5px 5px 5px 10px;
    background-color: #007bff;
    color: white;
  }
 
  .shared-licences-section{
    max-width: 400px;
    margin: 5px;
  }

  .page-heading{
    margin-left: -15px;
}

.hint{
    color: rgb(154, 153, 153);
}

.errorClass{
  color: red;
}