<div>
  <mat-card class="example-card">
    <div class="container-fluid page-content-header">
      <div class="row">
        <!-- Application -> Product -> Equipment -->
        <div
          *ngIf="path === 'applications/:key/:swidTag'"
          class="col-md-9 page-heading"
          style="display: table-cell"
        >
          <span
            class="parentNode nav-path"
            (click)="backToApplicationsPage()"
            >{{ "Application" | translate }}</span
          ><span class="nav-path-desc"> : {{ this.appName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span
            class="nav-path parentNode"
            [routerLink]="['/optisam/apl/applications/', appId]"
            >{{ "Product" | translate }} </span
          ><span class="nav-path-desc">: {{ this.productName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span class="nav-path currentNode">{{
            "Equipments" | translate
          }}</span>
        </div>
        <!-- Application -> Instance -> Equipment -->
        <div
          *ngIf="path === 'instances/:app_id/:inst_id'"
          class="col-md-9 page-heading"
          style="display: table-cell"
        >
          <span
            class="parentNode nav-path"
            (click)="backToApplicationsPage()"
            >{{ "Application" | translate }}</span
          ><span class="nav-path-desc"> : {{ this.appName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span
            class="nav-path parentNode"
            [routerLink]="['/optisam/apl/instances/', appId]"
            >{{ "Instance" | translate }} </span
          ><span class="nav-path-desc">: {{ this.instanceID }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span class="nav-path currentNode">{{
            "Equipments" | translate
          }}</span>
        </div>
        <!-- Product -> Equipment -->
        <div
          *ngIf="path === 'products/equi/:swidTag'"
          class="col-md-9 page-heading"
          style="display: table-cell"
        >
          <span class="parentNode nav-path" (click)="backToProductsPage()">{{
            "Product" | translate
          }}</span
          ><span class="nav-path-desc"> : {{ this.productName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span class="nav-path currentNode">{{
            "Equipments" | translate
          }}</span>
        </div>
        <!-- Product -> Application -> Instance -> Equipment -->
        <div
          *ngIf="path === 'apl/instances/:swidTag/:app_id/:inst_id'"
          class="col-md-9 page-heading"
          style="display: table-cell"
        >
          <span class="parentNode nav-path" (click)="backToProductsPage()">{{
            "Product" | translate
          }}</span
          ><span class="nav-path-desc"> : {{ this.productName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon>
          <span
            class="parentNode nav-path"
            routerLink="['/optisam/pr/products', this.swidTag]"
            >{{ "Application" | translate }}</span
          ><span class="nav-path-desc"> : {{ this.appName }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span
            class="nav-path parentNode"
            [routerLink]="['/optisam/pr/instances', swidTag, appId]"
            >{{ "Instance" | translate }} </span
          ><span class="nav-path-desc">: {{ this.instanceID }}</span>
          <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon
          ><span class="nav-path currentNode">{{
            "Equipments" | translate
          }}</span>
        </div>

        <div class="col-md-3 search-div viv">
          <app-advance-search
            [advanceSearchModel]="advanceSearchModel"
            (advFilterEvent)="advSearchTrigger($event)"
          ></app-advance-search>
        </div>
      </div>
    </div>

    <mat-card-content>
      <div class="table-container mat-elevation-z8">
        <div class="equip-container">
          <!-- <mat-toolbar color="ThemePalette">
                <mat-toolbar-row>
                  <button  mat-button routerLinkActive="active" [ngClass]="{'active-column': selectedColumn === disCol.type}" *ngFor="let disCol of displayedColumns2"
                  matTooltip="Click here to see Equipment List" (click)="getEquipmentsData(disCol)">{{disCol.type|uppercase}}</button>
                </mat-toolbar-row>
              </mat-toolbar> -->
          <nav mat-tab-nav-bar *ngIf="displayedColumns2">
            <a
              mat-tab-link
              class="tab-anchor"
              *ngFor="let disCol of displayedColumns2"
              routerLinkActive="active"
              (click)="getEquipmentsData(disCol); activeLink = disCol.type"
              [active]="activeLink == disCol.type"
            >
              {{ disCol.type | uppercase | translate }}
            </a>
          </nav>

          <div class="table-section">
            <mat-table
              *ngIf="displayedrows && displayedrows.length > 0"
              [dataSource]="dataSource"
              matSort
              (matSortChange)="sortData($event)"
            >
              <ng-container
                *ngFor="let x of displayedrows; let colIndex = index"
                matColumnDef="{{ x }}"
              >
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ typeArray[x] }}</mat-header-cell
                >
                <mat-cell *matCellDef="let element">
                  <a
                    class="mat-button-link row-anchor"
                    *ngIf="colIndex === 0"
                    color="primary"
                    matTooltip="{{
                      'Click to see attribute  details' | translate
                    }}"
                    (click)="openDialog(element, x)"
                  >
                    {{ element[x] }}
                  </a>
                  <span *ngIf="colIndex > 0">{{ element[x] }}</span>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedrows; sticky: true"
                [ngClass]="moreRows ? 'extendrow' : ''"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedrows"
                [ngClass]="moreRows ? 'extendrow' : ''"
              ></mat-row>
            </mat-table>
          </div>
          <div
            id="dataUnavailableMsg"
            *ngIf="
              !_loading &&
              !_equipLoading &&
              displayedrows &&
              displayedrows.length == 0
            "
          >
            {{ "No data available" | translate }}
          </div>
          <app-loading-spinner
            *ngIf="_loading || _equipLoading"
          ></app-loading-spinner>

          <mat-paginator
            [hidden]="
              _loading ||
              _equipLoading ||
              !displayedColumns2 ||
              (displayedrows && displayedrows.length == 0)
            "
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[50, 100, 200]"
            (page)="pageEvent = getPaginatorData($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
