<div>
  <mat-card class="example-card">
    <div class="container-fluid page-content-header">
      <div class="row">
        <div *ngIf="path === 'applications/:key/:swidTag'" class="col-md-9 page-heading" style="display:table-cell">
          <span class="parentNode nav-path" routerLink="/optisam/apl/applications">{{'Application'|translate}}</span> <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon><span class="nav-path parentNode" [routerLink]="['/optisam/apl/applications/', appId]">{{'Product'|translate}} </span><span class="nav-path-desc">: {{this.productName}}</span>
            <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon><span class="nav-path currentNode">{{'Equipments'|translate}}</span>
        </div>
        <div *ngIf="path !== 'applications/:key/:swidTag'" class="col-md-9 page-heading" style="display:table-cell">
          <span class="parentNode nav-path" routerLink="/optisam/pr/products">{{'Product'|translate}}</span><span class="nav-path-desc"> : {{this.productName}}</span>
            <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon><span class="nav-path currentNode">{{'Equipments'|translate}}</span>
        </div>
  
        <div class="col-md-3 search-div">
            <app-advance-search [advanceSearchModel]="advanceSearchModel" (advFilterEvent)="advSearchTrigger($event)"></app-advance-search> 
        </div>
      </div>
    </div>
  
    <mat-card-content>
      <div class="table-container mat-elevation-z8">
        <div class="equip-container">
              <!-- <mat-toolbar color="ThemePalette">
                <mat-toolbar-row>
                  <button  mat-button routerLinkActive="active" [ngClass]="{'active-column': selectedColumn === disCol.type}" *ngFor="let disCol of displayedColumns2"
                  matTooltip="Click here to see Equipment List" (click)="getEquipmentsData(disCol)">{{disCol.type|uppercase}}</button>
                </mat-toolbar-row>
              </mat-toolbar> -->
              <nav mat-tab-nav-bar *ngIf="displayedColumns2">
                <a mat-tab-link class="tab-anchor" *ngFor="let disCol of displayedColumns2" routerLinkActive="active"
                  (click)="getEquipmentsData(disCol);activeLink = disCol.type;" [active]="activeLink == disCol.type"> {{disCol.type|uppercase|translate}} </a>
              </nav>
  
              <div class="table-section">
                  <mat-table *ngIf="displayedrows && displayedrows.length>0" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container *ngFor="let x of displayedrows; let colIndex = index" matColumnDef="{{x}}">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{x}}</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <span *ngIf="colIndex===0">{{element[x]}} </span>
                        <span *ngIf="colIndex > 0">{{element[x]}}</span>
                      </mat-cell>
                    </ng-container>
  
                      <mat-header-row *matHeaderRowDef="displayedrows;sticky:true" [ngClass]="moreRows? 'extendrow' :''"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedrows;" [ngClass]="moreRows? 'extendrow' :''"></mat-row>
                  </mat-table>
              </div>
              <div id="dataUnavailableMsg" *ngIf="!_loading && displayedrows && displayedrows.length == 0">{{'No data available'|translate}}</div>
              <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
  
        <mat-paginator [hidden]="_loading || !displayedColumns2 || (displayedrows && displayedrows.length == 0)" [length]="length" [pageSize]="page_size" [pageSizeOptions]="[10,20,30,50]"
        (page)="pageEvent = getPaginatorData($event)" showFirstLastButtons>
        </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>