<mat-card>
  <mat-card-title>{{
    "AGGREGATIONS.TEXTS.CREATE_AGGREGATION" | translate
  }}</mat-card-title>
  <form
    [formGroup]="createForm"
    (submit)="createAggregation(successDialog, errorDialog)"
  >
    <mat-card-content fxLayout="column">
      <div fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "AGGREGATIONS.TEXTS.AGGREGATION_NAME" | translate
          }}</mat-label>
          <input
            id="aggrName"
            matInput
            placeholder="{{
              'AGGREGATIONS.TEXTS.AGGREGATION_NAME' | translate
            }}"
            formControlName="name"
          />
          <mat-error *ngIf="createForm.controls.name.hasError('validAggName')">
            No special characters or spaces are allowed
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <mat-form-field appearance="outline">
          <mat-label>{{ "AGGREGATIONS.TEXTS.EDITOR" | translate }}</mat-label>
          <mat-select
            [panelClass]="['aggrEditor']"
            formControlName="editor"
            [disabled]="HTTPActivity || editorList.length === 0"
            (selectionChange)="selectionChanged($event, 'editor')"
            #editorInput
          >
            <mat-option>
              <input
                autocomplete="off"
                #searchInput
                cdkFocusInitial
                placeholder="Search..."
                matInput
                (click)="searchEditor($event)"
                (keydown)="searchKeydown($event)"
                (input)="searchInputEvent($event)"
              />
            </mat-option>
            <app-loading-spinner *ngIf="searchLoading"></app-loading-spinner>
            <ng-container *ngIf="!searchLoading">
              <mat-option
                id="editor_option_{{ idx }}"
                *ngFor="let editor of filteredEditor; let idx = index"
                [value]="editor"
                >{{ editor }}</mat-option
              >
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "AGGREGATIONS.TEXTS.PRODUCT" | translate }}</mat-label>
          <mat-select
            id="aggrProduct"
            formControlName="product_names"
            [disabled]="HTTPActivity || productList.length === 0"
            (selectionChange)="selectionChanged($event, 'product')"
            #productInput
            multiple
          >
            <mat-option
              *ngFor="let product of productList"
              [value]="product.product_name"
              >{{ product.product_name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="swidtabs">
        <div class="left">
          <h5 class="transtitle">
            {{ "Product Version" | translate }}
          </h5>
          <div class="body">
            <div
              class="list-item"
              fxLayout="row"
              fxLayoutAlign="start"
              *ngIf="swidList.length"
            >
              <span>{{ "Select Product Versions" | translate }}</span>
              <div class="action-checkbox">
                <mat-checkbox
                  disableRipple
                  (change)="selectAllSwid($event.checked)"
                ></mat-checkbox>
              </div>
            </div>
            <div
              class="list-item"
              *ngFor="let swid of swidList; let idx = index"
            >
              <span
                class="text-3-dot"
                matTooltip="{{
                  swid.product_name + ' ' + swid.product_version
                }}"
                >{{ swid.product_name + " " + swid.product_version }}</span
              >
              <mat-icon class="add" (click)="addSwidTag(swid, idx)"
                >add_circle</mat-icon
              >
            </div>
          </div>
        </div>
        <div class="trans-icon">
          <mat-icon>sync_alt</mat-icon>
        </div>
        <div class="right">
          <h5 class="transtitle">
            {{ "Selected Product Version" | translate }}
          </h5>
          <div class="body">
            <div
              class="list-item"
              *ngFor="let swid of selectedSwidList; let idx = index"
            >
              <span class="text-3-dot" matTooltip="{{ swid.swidVersion }}">{{
                swid.swidVersion
              }}</span>
              <mat-icon class="cancel" (click)="removeSwidTag(swid, idx)"
                >remove_circle</mat-icon
              >
            </div>
          </div>
        </div>
      </div>

      <app-loading-spinner
        *ngIf="HTTPActivity && selectedSwidList.length === 0"
      ></app-loading-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button
        id="aggrCancel"
        class="save-btn btn-four"
        mat-raised-button
        [disabled]="
          HTTPActivity && createForm.valid && selectedSwidList.length !== 0
        "
        [mat-dialog-close]="true"
      >
        {{ "Cancel" | translate }}
      </button>
      <button
        id="aggrReset"
        class="save-btn btn-three"
        mat-raised-button
        type="reset"
        [disabled]="createForm.pristine"
        (click)="resetForm()"
      >
        {{ "AGGREGATIONS.ACTIONS.RESET" | translate }}
      </button>
      <button
        id="aggrSave"
        class="save-btn btn-two"
        mat-raised-button
        type="submit"
        [disabled]="
          !createForm.valid ||
          createForm.pristine ||
          selectedSwidList.length === 0
        "
      >
        <span
          class="spinner-border spinner-border-sm"
          *ngIf="
            HTTPActivity && createForm.valid && selectedSwidList.length !== 0
          "
        ></span>
        {{ "AGGREGATIONS.ACTIONS.SAVE" | translate }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>

<ng-template #successDialog>
  <mat-dialog-content align="center">
    <p>{{ "CREATE_AGGR_SUCCESS" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorDialog>
  <mat-dialog-content align="center">
    <p>{{ "Error" | translate }}: {{ errorMessage }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
