mat-menu-item {
  border: solid 1px #d1d8de !important;
  width:260px !important;
  height:41px !important;
  text-align: center !important;
  .mat-menu-item-checked{
    background-color: #ffffff !important;
    font-weight: bold !important;
  }
  .mat-menu-item-toggle{
    width:50% !important;
    font-size: 15px !important;
  }
}

.mat-column-product_name {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}
.mat-cell {
  display:unset !important;
  padding-top: 10px;
}

.mat-table {
   overflow: auto;
   max-height: 75vh;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex !important;
    min-width:200%;
}