
<mat-card>
  <div class="container-fluid page-content-header">
    <div class="page-heading">
      {{ "List of Individual Rights" | translate }}
    </div>
  </div>
  <app-advance-search
    [advanceSearchModel]="advanceSearchModel"
    (advFilterEvent)="advSearchTrigger($event)"
  ></app-advance-search>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <mat-table
        [dataSource]="MyDataSource"
        matSort
        (matSortChange)="sortData($event)"
      >
        <!-- <ng-container matColumnDef="swid_tag">
          <mat-header-cell *matHeaderCellDef mat-sort-header="SWID_TAG"
            >{{ "SWIDtag" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.swid_tag || 0 }}
          </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="product_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header="PRODUCT_NAME"
            >{{ "Product name" | translate }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let acquired_rights"
            matTooltip="{{ acquired_rights.product_name }}"
          >
            <a
              class="ellipsis mat-button-link"
              (click)="
                openDialog(
                  acquired_rights.swid_tag,
                  acquired_rights.product_name
                )
              "
            >
              {{ acquired_rights.product_name }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef
            >{{ "Version" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights"
            >{{ acquired_rights.version || "-" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editor">
          <mat-header-cell *matHeaderCellDef mat-sort-header="EDITOR"
            >{{ "Editor" | translate }}
          </mat-header-cell>
          <!-- <mat-cell *matCellDef="let acquired_rights"
            >{{ acquired_rights.editor || 0 }}
          </mat-cell> -->
          <mat-cell *matCellDef="let acquired_rights"> 
            <span *ngIf="acquired_rights.editor_id==''">{{acquired_rights.editor}}</span>  
            <span *ngIf="acquired_rights.editor_id!=''">
              <a
                id="editor_name_{{ i }}"
                class="ellipsis mat-button-link"
                matTooltip="{{ acquired_rights.editor }}"
                (click)="openEditorDialog(acquired_rights)"
              >
                {{ acquired_rights.editor }}</a>
            </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SKU">
          <mat-header-cell *matHeaderCellDef mat-sort-header="SKU">{{
            "SKU" | translate
          }}</mat-header-cell>
          <!-- <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.SKU || 0 }}
          </mat-cell> -->
          <mat-cell *matCellDef="let acquired_rights">
            <div *ngIf="acquired_rights.file_name"  matTooltip="{{ 'Click here to download the file' }}">
             <a  class="ellipsis mat-button-link" (click)="
             downloadFile(
                   acquired_rights.SKU,acquired_rights.file_name
                 )
               ">
               {{ acquired_rights.SKU }}
             </a>
           </div>
           <div *ngIf="!acquired_rights.file_name">
           {{ acquired_rights.SKU }}
         </div>
           </mat-cell>
        </ng-container>

        <ng-container matColumnDef="metric">
          <mat-header-cell *matHeaderCellDef mat-sort-header="METRIC">
            {{ "Metric" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.metric || 0 }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="acquired_licenses_number">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="ACQUIRED_LICENSES_NUMBER"
          >
            {{ "Acquired licenses number" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.acquired_licenses_number || 0 }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="licenses_under_maintenance">
          <mat-header-cell *matHeaderCellDef>
            {{ "Licenses Under maintenance" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.licenses_under_maintenance }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="licenses_under_maintenance_number">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="LICENSES_UNDER_MAINTENANCE_NUMBER"
          >
            {{ "Licenses Under maintenance number" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.licenses_under_maintenance_number || 0 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="start_of_maintenance">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="START_OF_MAINTENANCE"
          >
            {{ "Start of Maintenance" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{
              acquired_rights.start_of_maintenance | formatShortdate
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="end_of_maintenance">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="END_OF_MAINTENANCE"
          >
            {{ "End of Maintenance" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.end_of_maintenance | formatShortdate }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="avg_licenes_unit_price">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="AVG_LICENSE_UNIT_PRICE"
          >
            {{ "AVG License unit price" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{
              acquired_rights.avg_licenes_unit_price || 0 | formatCost
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="avg_maintenance_unit_price">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="AVG_MAINTENANCE_UNIT_PRICE"
          >
            {{ "AVG Maintenance unit price" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.avg_maintenance_unit_price || 0 | formatCost }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total_purchase_cost">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="TOTAL_PURCHASE_COST"
          >
            {{ "Total purchase cost" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{
              acquired_rights.total_purchase_cost || 0 | formatCost
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="total_maintenance_cost">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="TOTAL_MAINTENANCE_COST"
          >
            {{ "Total maintenance cost" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{
              acquired_rights.total_maintenance_cost || 0 | formatCost
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="ordering_date">
          <mat-header-cell *matHeaderCellDef>
            {{ "Ordering Date" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.ordering_date | formatShortdate }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="corporate_sourcing_contract">
          <mat-header-cell *matHeaderCellDef>
            {{ "CSC" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.corporate_sourcing_contract || "-" }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="software_provider">
          <mat-header-cell *matHeaderCellDef>
            {{ "Software provider" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.software_provider || "-" }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="last_purchased_order">
          <mat-header-cell *matHeaderCellDef>
            {{ "Last purchased order" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.last_purchased_order || "-" }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="support_number">
          <mat-header-cell *matHeaderCellDef>
            {{ "Support number" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.support_number || "-" }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="maintenance_provider">
          <mat-header-cell *matHeaderCellDef>
            {{ "Maintenance provider" | translate }}</mat-header-cell
          >
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.maintenance_provider || "-" }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="total_cost">
          <mat-header-cell *matHeaderCellDef mat-sort-header="TOTAL_COST">
            {{ "Total cost" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let acquired_rights">
            {{ acquired_rights.total_cost || 0 | formatCost }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef>{{
            "Comment" | translate
          }}</mat-header-cell>
          <mat-cell
            *matCellDef="let acquired_rights"
            matTooltip="{{ acquired_rights.comment }}"
            matTooltipClass="multilineTooltip"
          >
            {{ acquired_rights.comment }}
          </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
      <div
        class="no-data"
        *ngIf="!_loading && MyDataSource && MyDataSource.data.length == 0"
      >
        {{ "No data available" | translate }}
      </div>
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[50, 100, 200]"
        (page)="pageEvent = getPaginatorData($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
