.product{
    margin: 10px;
}

.back{
    margin:10px 0px 0px 20px
}

.backText{
    margin: -5px 0px 0px 5px;
}

.backButton{
    border: 1.7px solid #ccc;
    border-radius: 0px;
    color: #008afc;
    height: 25px;
}