<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="page-heading" *ngIf="activeTab == 'Data'">{{
        "Upload Data Files" | translate
      }}</mat-card-title>
      <mat-card-title class="page-heading" *ngIf="activeTab == 'Metadata'"
        >{{ "Upload Metadata Files" | translate }}
      </mat-card-title>
      <mat-card-title class="page-heading" *ngIf="activeTab == 'Globaldata'"
        >{{ "Upload Global Data File" | translate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <form [formGroup]="uploadForm">
        <span id="buttonHeader" *ngIf="activeTab == 'Globaldata'">{{
          "Select the file to upload." | translate
        }}</span>

        <span id="buttonHeader" *ngIf="activeTab != 'Globaldata'">{{
          "Select the files to upload. Files must be in csv
          format only." | translate
        }}</span>
        <div id="uploadButton">
          <input
            class="inputfile"
            id="file"
            type="file"
            name="files"
            accept=".csv"
            (change)="onFileSelect($event)"
            *ngIf="activeTab != 'Globaldata'"
          />
          <input
            class="inputfile"
            id="file"
            type="file"
            name="files"
            accept=".xlsx, .xls, .csv"
            (click)="resetUpload($event)"
            (change)="onFileSelect($event)"
            *ngIf="activeTab == 'Globaldata'"
          />
          <label class="browselabel" for="file">{{
            "Browse" | translate
          }}</label>
        </div>

        <div class="analysis-bar" *ngIf="showAnalysisBar">
          <div class="analyzing-progress">
            <label>{{
              analysisProgress === 0 || analysisProgress < 100
                ? "Uploading..."
                : "Analyzing..."
            }}</label
            ><span class="percent-display" *ngIf="analysisProgress < 100">{{
              analysisProgress + "%"
            }}</span>
          </div>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="analysisProgress === 0 || analysisProgress === 100"
          ></mat-progress-bar>
          <mat-progress-bar
            *ngIf="analysisProgress > 0 && analysisProgress < 100"
            mode="determinate"
            [value]="analysisProgress"
          ></mat-progress-bar>
        </div>
        <div
          class="analysis-description"
          *ngIf="!analysisFileUrl && analysisDescription"
        >
          <mat-icon>report</mat-icon> {{ analysisDescription }}
        </div>

        <div class="file-error" *ngIf="fileError">
          <mat-icon>error</mat-icon>
          <div>{{ fileError }}</div>
        </div>

        <div class="analysis-file" *ngIf="analysisFileUrl">
          <div class="display-des-completed">
            <strong>{{ analysisDescription }}</strong>
          </div>
          <div class="file-download">
            <div (click)="downloadAnalysisFile()">
              <mat-icon>insert_drive_file</mat-icon>{{ "Analysis report" }}
            </div>
            <div (click)="downloadAnalysisFile()">
              <mat-icon>download</mat-icon>
            </div>
          </div>
        </div>

        <div
          *ngIf="selectedFiles && selectedFiles.length > 0"
          id="selectedFiles"
        >
          <span *ngFor="let file of selectedFiles" class="filename col-md-6">
            <mat-icon>insert_drive_file</mat-icon> {{ file.name }}
          </span>
        </div>

        <div id="btnsContainer" *ngIf="activeTab == 'Globaldata'">
          <div id="downloadTemplateLink">
            <img id="downloadIcon" src="assets/images/DownloadIcon.svg" />
            <a
              id="downloadLinkText"
              class="mat-button-link"
              href="assets/files/genericTempWithoutData.xlsx"
            >
              {{ "Global Template" | translate }}
            </a>
          </div>
          <div id="dropDataCheckbox">
            <mat-checkbox formControlName="isDeleteOldInventory"></mat-checkbox
            >&nbsp;
            <strong>{{
              "Check to drop the inventory data" | translate
            }}</strong>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <button
        id="cancelButton"
        class="btn-four"
        mat-raised-button
        [disabled]="uploadForm.pristine && loading"
        mat-dialog-close="true"
        (click)="cancelInjectionData()"
      >
        {{ "Cancel" | translate }}
      </button>
      <button
        id="resetButton"
        class="btn-three"
        mat-raised-button
        [disabled]="
          uploadForm.pristine && (loading || selectedFiles.length == 0)
        "
        (click)="resetForm()"
      >
        {{ "Reset" | translate }}
      </button>
      <button
        id="submitButton"
        class="btn-two"
        mat-raised-button
        [disabled]="submitValidate"
        (click)="
          process(
            successDialog,
            errorDialog,
            duplicateScopeDialog,
            invalidFileNameDialog
          )
        "
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="loading"
        ></span>
        {{ "Submit" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #successDialog>
  <mat-dialog-content>
    <p>{{ "UPLOAD_FILE_SUCCESS" | translate }}</p>
    <!-- <p *ngIf="activeTab === 'Globaldata' && isDeleteOldInventory.value== true">{{'Inventory Deletion is in progress. It might take some time.'|translate}}</p> -->
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorDialog>
  <mat-dialog-content>
    <p>{{ "Error" | translate }}: {{ errorMsg | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #duplicateScopeDialog>
  <mat-dialog-content>
    <p>{{ "DUPLICATE_SCOPE_ERROR" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #invalidFileNameDialog>
  <mat-dialog-content>
    <strong>{{ "INVALID_FILE_NAME" | translate }}</strong>
    <div *ngIf="activeTab == 'Data'">
      {{ "INVALID_DATA_FILE_NAME_ERROR" | translate }}
      <ul>
        <li>{{ "products.csv" }}</li>
        <li>{{ "products_equipments.csv" }}</li>
        <li>{{ "applications_products.csv" }}</li>
        <li>{{ "products_acquiredRights.csv" }}</li>
        <li>{{ "applications.csv" }}</li>
        <li>{{ "applications_instances.csv" }}</li>
        <li>{{ "instances_equipments.csv" }}</li>
        <li>{{ "instances_products.csv" }}</li>
        <li>{{ "equipment_[a-zA-Z]*.csv" }}</li>
      </ul>
    </div>
    <p *ngIf="activeTab == 'Metadata'">
      {{ "INVALID_METADATA_FILE_NAME_ERROR" | translate }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      (click)="backToList()"
      cdkFocusInitial
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
