
  .mat-card{
    border:none !important;
  }
.mat-card-header {
  display: flex;
  justify-content: center;
}
.mat-card-title {
  font-size: 32px;
}
.mat-raised-button {
  box-sizing: initial;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.browselabel {
  cursor: pointer;
  margin-top: 10px !important;
  height: 44px;
  width: 100%;
  background-color: #008AFC !important;
  display: flex !important;
  justify-content: center;
  align-items: center
}
.inputfile + label {
    color: white;
    background-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #c82333;
}
// .inputfile + label {
// 	cursor: pointer; /* "hand" cursor */
// }

.browselabel{
    margin: 0;
    height: 36px;
}
.upload-div{
    padding: 10px 20px;
    display: flex;
    background-color: #F5F5F5;
}
.filename {
  padding: unset;
  display: flex;
  align-items: center;
  margin: 3px 0px;
}
.fileerror{color: #dc3545; font-style: italic;}
.spinner-border-sm{
  height: 1rem !important;
}

#selectedFiles {
  margin-top: 16px;
  border: solid 1px #dee2e6;
  padding: 12px 16px;
  display: grid;
}

#uploadButton {
  display: flex;
  align-items: center;
}

.right-btn {text-align: right; padding: unset;}