<app-advance-search
  [advanceSearchModel]="advanceSearchModel"
  (advFilterEvent)="advSearchTrigger($event)"
></app-advance-search>

<div class="mat-elevation-z8">
  <mat-table
    [dataSource]="concurrentUsersList"
    matSort
    (matSortChange)="sortData($event)"
  >
    <ng-container *ngFor="let col of columns" matColumnDef="{{ col.key }}">
      <ng-container [ngSwitch]="col.key">
        <!-- Product name or Aggregation name start -->
        <ng-container *ngSwitchCase="'product_name'">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{ col.key }}"
            disableClear
            >{{ col.label | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let concurrentUser">
            {{ concurrentUser[col.key] }}
          </mat-cell>
        </ng-container>
        <!-- Product name or Aggregation name end -->
        <!-- Activation Date start -->
        <ng-container *ngSwitchCase="'purchase_date'">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{ col.key }}"
            disableClear
            >{{ col.label | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let concurrentUser">
            {{ concurrentUser[col.key] | formatShortdate }}
          </mat-cell>
        </ng-container>
        <!-- Activation Date end -->
        <!-- No of users start -->
        <ng-container *ngSwitchCase="'number_of_users'">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{ col.key }}"
            disableClear
            >{{ col.label | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let concurrentUser">
            {{ concurrentUser[col.key] }}
          </mat-cell>
        </ng-container>
        <!-- No of users start ends -->

        <!--  -->

        <!-- Action start-->
        <ng-container *ngSwitchCase="'action'">
          <mat-header-cell *matHeaderCellDef
            >{{ col.label | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let concurrentUser">
            <span class="action-icon">
              <mat-icon
                matTooltip="{{ 'Edit User' | translate }}"
                (click)="editUser(concurrentUser)"
                >edit</mat-icon
              >
            </span>
            <span class="action-icon">
              <mat-icon
                matTooltip="{{ 'Delete User' | translate }}"
                (click)="confirmDeletion(concurrentUser)"
                >delete</mat-icon
              >
            </span>
          </mat-cell>
        </ng-container>
        <!-- Action end -->
        <!-- Default switch case start -->
        <ng-container *ngSwitchDefault>
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{ col.key }}"
            disableClear
            >{{ col.label | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let concurrentUser">
            {{ concurrentUser[col.key] }}
          </mat-cell>
        </ng-container>
        <!-- Default switch case end -->
      </ng-container>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <app-loading-spinner *ngIf="listLoading"></app-loading-spinner>

  <ng-container
    *ngIf="!listLoading && !concurrentUsersList?.filteredData?.length"
  >
    <div id="noData" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>error</mat-icon>{{ "No Data details available" | translate }}
    </div>
  </ng-container>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOption"
    (page)="pageEvent = getPaginatorData($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
