.product-tabs {
    border: #EAEAEA 2px solid;
    padding: 15px;
}

.tab-content {
    padding-top: 15px;
}
.mat-dialog-actions {
    justify-content: flex-end;
    padding-right: 10px;
}
::ng-deep .errorTooltip {
    color: #F92F2F;
    font-weight: 500;
    border-radius: 0;
    background-color: white;
    border: 2px solid #F92F2F;
    border-left: 6px solid #F92F2F;
}