<h1 mat-dialog-title></h1>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 nav-path">
        {{ "Product" | translate }} :
        <span class="nav-path-desc" [class]="alertColor">{{ pName }}</span>
        <mat-icon class="arrow_icon">arrow_forward_ios</mat-icon>
        <span class="currentNode">{{ "Details" | translate }}</span>
      </div>
      <div class="col-lg-12">
        <div class="product-tabs">
          <nav mat-tab-nav-bar>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
                >{{ "Information" | translate }}</a
              >
              <a
                class="nav-item nav-link"
                id="nav-contact-tab"
                data-toggle="tab"
                href="#nav-contact"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
                (click)="getAcquiredRights()"
                >{{ "Compliance" | translate }}</a
              >
              <a
                class="nav-item nav-link"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
                (click)="getProductOptions()"
                >{{ "Options" | translate }}</a
              >
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <div class="tab-content-inner">
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
                <div *ngIf="productInfo && !_loading">
                  <strong>{{ "SWIDtag" | translate }}:</strong>
                  {{ productInfo.swidTag }} <br />
                  <strong>{{ "Editor" | translate }}:</strong>
                  {{ productInfo.editor }} <br />
                  <strong>{{ "Product Name" | translate }}:</strong>
                  <span>{{ productInfo.product_name }}</span>
                  <br />
                  <ng-container *ngIf="isCostOptimization">
                    <strong>{{ "Total cost" | translate }}:</strong>
                    <span>{{ totalCostOfCostOptimization }}</span>
                    <br />
                    <strong>{{ "Delta cost" | translate }}:</strong>
                    <span>{{ deltaCostOfCostOptimization }}</span>
                    <br />
                  </ng-container>
                  <strong>{{ "Version" | translate }}:</strong>
                  {{ productInfo.version }} <br />
                  <strong
                    >{{ "Equipments using the product" | translate }} :</strong
                  >
                  <span class="margin-left">
                    {{ productInfo.num_equipments || 0 }}
                    <span class="error-msg" *ngIf="!productInfo.num_equipments"
                      >&nbsp;({{
                        "Product is not
                      deployed"
                          | translate
                      }})</span
                    >
                  </span>
                  <br />
                  <strong
                    >{{
                      "Applications containing the product" | translate
                    }}
                    :</strong
                  ><span class="margin-left">{{
                    productInfo.num_applications || 0
                  }}</span
                  ><br />
                  <strong>{{ "Defined Metrics" | translate }}:</strong>
                  {{
                    productInfo.defined_metrics?.length > 0
                      ? productInfo.defined_metrics.join(", ")
                      : "-"
                  }}
                  <span
                    class="error-msg"
                    *ngIf="
                      !productInfo.defined_metrics ||
                      productInfo.defined_metrics?.length === 0
                    "
                  >
                    ({{ "No metric is defined" | translate }})</span
                  >
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <div class="tab-content-inner">
                <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
                <div *ngIf="productOptions && !_loading">
                  <p>
                    <strong>{{ "Options list" | translate }}</strong>
                    <br />
                    <strong>{{ "Number of options" | translate }} :</strong
                    >{{ productOptions.numOfOptions || 0 }}
                    <br />
                  </p>
                  <div class="table-responsive">
                    <table
                      *ngIf="
                        productOptions.optioninfo &&
                        productOptions.optioninfo.length > 0
                      "
                      class="table table-bordered table-striped"
                    >
                      <thead>
                        <tr>
                          <th>{{ "SWIDTag" | translate }}</th>
                          <th>{{ "Product name" | translate }}</th>
                          <th>{{ "Editor" | translate }}</th>
                          <th>{{ "Edition" | translate }}</th>
                          <th>{{ "Release" | translate }}</th>
                          <th>{{ "Total Cost" | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of productOptions.optioninfo">
                          <td>{{ item.swidTag || 0 }}</td>
                          <td>
                            <a>{{ item.Name }}</a>
                          </td>
                          <td>{{ item.editor }}</td>
                          <td>{{ item.edition }}</td>
                          <td>{{ item.version || 0 }}</td>
                          <td>{{ 0 | formatCost }}</td>
                        </tr>
                        <tr></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- new table -->
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <div *ngIf="agg_name" class="alert alert-primary" role="alert">
                <span>
                  Check compliance for aggregation
                  <a
                    [routerLink]="['/optisam/ar/prights/aggregations']"
                    [state]="{ aggregationName: agg_name }"
                    mat-dialog-close
                  >
                    {{ agg_name }}
                  </a>
                </span>
              </div>

              <div class="no-data" *ngIf="!hasCompliance && !agg_name">
                {{ emptyMsg }}
              </div>

              <div class="tab-content-inner" *ngIf="hasCompliance && !agg_name">
                <div class="table-responsive">
                  <div class="mat-elevation-z8">
                    <mat-table
                      class="main-table"
                      [dataSource]="acquireRight"
                      multiTemplateDataRows
                    >
                      <ng-container
                        matColumnDef="{{ column }}"
                        *ngFor="let column of displayedColumns"
                      >
                        <div>
                          <mat-header-cell *matHeaderCellDef>
                            {{ tableKeyLabelMap[column] | translate }}
                          </mat-header-cell>
                        </div>

                        <mat-cell *matCellDef="let product">
                          <div [ngSwitch]="column">
                            <!-- <span *ngSwitchCase="'numCptLicences'">{{ product.numCptLicences }}</span> -->

                            <div *ngSwitchCase="'metric'">
                              <span
                                *ngIf="
                                  (product.metric | checkMetricsLength) &&
                                  !product.costOptimization
                                "
                              >
                                <mat-icon
                                  *ngIf="
                                    expandedRow !== product &&
                                    !product.metricNotDefined
                                  "
                                  class="expand-icon"
                                  (click)="expandMetrics(product)"
                                  >add_box
                                </mat-icon>
                                <mat-icon
                                  *ngIf="expandedRow === product"
                                  class="expand-icon"
                                  (click)="closeMetrics()"
                                >
                                  indeterminate_check_box</mat-icon
                                >
                              </span>

                              {{ product.metric }}
                            </div>

                            <div *ngSwitchCase="'computedDetails'">
                              <span
                                class="error-msg"
                                *ngIf="product.metricNotDefined"
                              >
                                {{ "Metric not Defined" | translate }}</span
                              >
                              <span
                                class="error-msg"
                                *ngIf="!productInfo.num_equipments"
                                >&nbsp;{{
                                  "Product is not
                                  deployed"
                                    | translate
                                }}</span
                              >
                              <span
                                *ngIf="
                                  !product.metricNotDefined &&
                                  productInfo.num_equipments
                                "
                              >
                                {{ product.computedDetails || "-" }}
                              </span>
                            </div>

                            <div *ngSwitchCase="'numCptLicences'">
                              {{ product.numCptLicences || 0 }}
                            </div>

                            <div *ngSwitchCase="'deltaNumber'">
                              <span
                                class="greenText"
                                *ngIf="(product.deltaNumber || 0) >= 0"
                                >{{ product.deltaNumber || 0 }}</span
                              >
                              <span
                                class="redText"
                                *ngIf="(product.deltaNumber || 0) < 0"
                                matTooltip="{{
                                  'The product is not compliant' | translate
                                }}!"
                                matTooltipClass="errorTooltip"
                                >{{ product.deltaNumber }}</span
                              >
                            </div>

                            <div *ngSwitchCase="'deltaCost'">
                              <span
                                class="greenText"
                                *ngIf="(product.deltaCost || 0) >= 0"
                                >{{ product.deltaCost || 0 | formatCost }}</span
                              >
                              <span
                                class="redText"
                                *ngIf="(product.deltaCost || 0) < 0"
                                matTooltip="{{
                                  'The product is not compliant' | translate
                                }}!"
                                matTooltipClass="errorTooltip"
                                >{{ product.deltaCost | formatCost }}</span
                              >
                            </div>

                            <span *ngSwitchDefault>{{
                              product[column] || "-"
                            }}</span>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                      <ng-container matColumnDef="expandedDetail">
                        <mat-cell
                          class="expand-cell"
                          *matCellDef="let product"
                          [attr.colspan]="expandDisplayedColumns.length"
                        >
                          <div
                            class="aggregation-detail mat-elevation-z8"
                            [@detailExpand]="
                              product == expandedRow ? 'expanded' : 'collapsed'
                            "
                          >
                            <mat-table
                              class="detail-table"
                              [dataSource]="computationDetails"
                            >
                              <ng-container
                                matColumnDef="{{ column }}"
                                *ngFor="let column of expandDisplayedColumns"
                              >
                                <ng-container
                                  *ngIf="column.includes('blankColumn')"
                                >
                                  <mat-header-cell *matHeaderCellDef>
                                  </mat-header-cell>
                                  <mat-cell
                                    *matCellDef="let element"
                                  ></mat-cell>
                                </ng-container>
                                <ng-container
                                  *ngIf="!column.includes('blankColumn')"
                                >
                                  <mat-header-cell *matHeaderCellDef>
                                    {{ tableKeyLabelMap[column] | translate }}
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="column">
                                      <div *ngSwitchCase="'deltaNumber'">
                                        <span
                                          class="greenText"
                                          *ngIf="
                                            (element.deltaNumber || 0) >= 0
                                          "
                                          >{{ element.deltaNumber || 0 }}</span
                                        >
                                        <span
                                          class="redText"
                                          *ngIf="(element.deltaNumber || 0) < 0"
                                          matTooltip="{{
                                            'The product is not compliant'
                                              | translate
                                          }}!"
                                          matTooltipClass="errorTooltip"
                                          >{{ element.deltaNumber }}</span
                                        >
                                      </div>

                                      <div *ngSwitchCase="'deltaCost'">
                                        <span
                                          class="greenText"
                                          *ngIf="(element.deltaCost || 0) >= 0"
                                          >{{
                                            element.deltaCost || 0 | formatCost
                                          }}</span
                                        >
                                        <span
                                          class="redText"
                                          *ngIf="(element.deltaCost || 0) < 0"
                                          matTooltip="{{
                                            'The product is not compliant'
                                              | translate
                                          }}!"
                                          matTooltipClass="errorTooltip"
                                          >{{
                                            element.deltaCost | formatCost
                                          }}</span
                                        >
                                      </div>

                                      <span *ngSwitchDefault>{{
                                        element[column] || "-"
                                      }}</span>
                                    </div>
                                  </mat-cell>
                                </ng-container>
                              </ng-container>

                              <mat-header-row
                                *matHeaderRowDef="expandDisplayedColumns"
                              ></mat-header-row>
                              <mat-row
                                *matRowDef="
                                  let row;
                                  columns: expandDisplayedColumns
                                "
                              ></mat-row>
                            </mat-table>
                            <app-loading-spinner
                              *ngIf="_loading && !computationDetails"
                            ></app-loading-spinner>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></mat-row>
                      <mat-row
                        *matRowDef="let row; columns: ['expandedDetail']"
                        class="agg-detail-row"
                        [class.agg-expanded-row]="
                          !expandedRow || expandedRow !== row
                        "
                      ></mat-row>
                    </mat-table>
                    <app-loading-spinner
                      *ngIf="_loading && !acquireRight"
                    ></app-loading-spinner>
                    <!-- <div
                      class="no-data"
                      *ngIf="
                        !_loading &&
                        (!acquireRight ||
                          (acquireRight && acquireRight.data.length === 0))
                      "
                    >
                      {{ "No data available" | translate }}
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="right">
  <button id="cancelBtn" class="btn-two" mat-raised-button mat-dialog-close>
    {{ "Cancel" | translate }}
  </button>
</mat-dialog-actions>
