.card {
    border: unset !important;
  }
.mat-card-header {
  margin-left: -16px !important;
}
#cancelBtn {
  margin: 0 8px;
}
#scopeTypeBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: -16px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #008afc;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #008afc;
}