<div class="main-change-password">
  <form [formGroup]="cpForm" class="change-password-container">
    <header>
      {{
        (type === activationType
          ? "TITLE_SET_PASSWORD"
          : "TITLE_RESET_PASSWORD"
        ) | translate
      }}
    </header>

    <mat-form-field appearance="outline">
      <mat-label>{{ "ENTER_PASSWORD" | translate }}</mat-label>
      <input
        formControlName="password"
        matInput
        type="{{ visibility ? 'text' : 'password' }}"
      />
      <mat-icon *ngIf="visibility" matSuffix (click)="visibility = !visibility"
        >visibility</mat-icon
      >
      <mat-icon *ngIf="!visibility" matSuffix (click)="visibility = !visibility"
        >visibility_off</mat-icon
      >
      <mat-error *ngIf="passwordField?.hasError('required')">
        {{ "ERROR_PASSWORD_REQUIRED" | translate }}
      </mat-error>

      <mat-error *ngIf="passwordField?.hasError('minlength')">
        {{
          "ERROR.MIN_LENGTH"
            | translate
              : {
                  requiredLength: passwordField.errors.minlength.requiredLength
                }
        }}
      </mat-error>
      <mat-error *ngIf="passwordField?.hasError('maxlength')">
        {{
          "ERROR.MAX_LENGTH"
            | translate
              : {
                  requiredLength: passwordField.errors.maxlength.requiredLength
                }
        }}
      </mat-error>

      <mat-error
        *ngIf="
          !passwordField?.hasError('minlength') &&
          !passwordField?.hasError('maxlength') &&
          passwordField?.hasError('pattern')
        "
      >
        {{ "ERROR_PASSWORD_PATTERN" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "CONFIRM_PASSWORD" | translate }}</mat-label>
      <input
        formControlName="confirmPassword"
        matInput
        type="{{ visibilityConfirm ? 'text' : 'password' }}"
      />
      <mat-icon
        *ngIf="visibilityConfirm"
        matSuffix
        (click)="visibilityConfirm = !visibilityConfirm"
        >visibility</mat-icon
      >
      <mat-icon
        *ngIf="!visibilityConfirm"
        matSuffix
        (click)="visibilityConfirm = !visibilityConfirm"
        >visibility_off</mat-icon
      >

      <mat-error *ngIf="confirmPasswordField?.hasError('matchError')">
        {{ "ERROR_PASSWORD_NOT_MATCHED" | translate }}
      </mat-error>
    </mat-form-field>
    <div class="action">
      <button
        [disabled]="cpForm.invalid"
        mat-raised-button
        class="btn btn-two submit-btn"
        (click)="setPassword()"
      >
        <span *ngIf="!_loading">
          {{ "SUBMIT" | translate }}
        </span>

        <div class="loading-spinner" *ngIf="_loading">
          <mat-spinner color="primary"></mat-spinner>
          <span>{{ "Loading" | translate }}...</span>
        </div>
      </button>
    </div>
  </form>
</div>
