.main-change-password {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  background-color: #fff;
  .change-password-container {
    display: flex;
    flex-direction: column;
    // background-color: lighten($color: #000, $amount: 90%);
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;

    header {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      padding-bottom: 20px;
      color: lighten($color: #000, $amount: 60%);
    }

    mat-form-field {
      width: 30vw;
      min-width: 350px;
    }

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

mat-icon[matsuffix] {
  cursor: pointer;
}

::ng-deep .submit-btn {
  min-width: 121px !important;

  .loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .mat-spinner {
      width: 20px !important;
      height: 20px !important;
      svg {
        width: 100% !important;
        height: 100% !important;
      }
      circle {
        stroke: white;
      }
    }
  }
}
