.container-body {
  width: 50%;
  padding: 32px;
}
.mat-raised-button {
  box-sizing: initial;
}
.btn-two {
  margin-left: 40%;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}
