 <div fxLayout="row" fxLayoutAlign="center center" class="container-body">
      <form [formGroup]="groupForm">
        <mat-form-field appearance="outline">
          <mat-label>Old Password</mat-label>
          <input matInput placeholder="Old Password" type="password" [formControl]="old">
          <mat-error *ngIf="old.invalid && !old.pristine && old.touched">
            Old Password is Required!!!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" [type]="hide1 ? 'password' : 'text'" [formControl]="new">
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="new.invalid && !new.pristine">
            Password should be at least 8 characters
            long and should contain one number,one lower and upper character and one special
            character
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" [formControl]="confirm">
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="confirm.invalid && !confirm.pristine">
            Confirm Password is Required!!!
          </mat-error>

        </mat-form-field>
        <span style="color:#f44336 " *ngIf="matchPassword">
          New and Confirm Password must be same!
        </span>

      </form>
      <button mat-raised-button class="btn-two" [disabled]="!groupForm.valid"
        (click)="createGroup(successPasswordUpdateDialog,errorPasswordUpdateDialog)">{{'Submit'|translate}}</button>
</div>

<ng-template #successPasswordUpdateDialog>
  <mat-dialog-content>
    <p>{{'PASSWORD_UPDATE_SUCCESS'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorPasswordUpdateDialog>
  <mat-dialog-content>
    <p>{{'PASSWORD_UPDATE_ERROR'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>