<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
 <mat-card class="card">
      <div style="position: center;" *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-warning">
            <strong>Password Changed Succesfully!!!</strong>
          </p>
        </div>
      </div>
      <div style="position: center;" *ngIf="showErrorMsg">
          <div class="col-xs-12">
            <p class="alert alert-warning">
              <strong>{{errorMsg}}!!!</strong>
            </p>
          </div>
        </div>
      <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Old Password" type="password" [formControl]="old">
            <mat-error *ngIf="old.invalid && !old.pristine && old.touched">
               Old Password is Required!!!
              </mat-error>
          </mat-form-field>

          <mat-form-field  appearance="outline">
              <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" [type]="hide1 ? 'password' : 'text'"  [formControl]="new">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="new.invalid && !new.pristine">
                    Password should be at least 8 characters
                    long and should contain one number,one lower and upper character and one special
                    character
                  </mat-error>

          </mat-form-field>

            <mat-form-field  appearance="outline">
                <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" [formControl]="confirm">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="confirm.invalid && !confirm.pristine">
                      Confirm Password is Required!!!
                     </mat-error>

            </mat-form-field>
            <span style="color:#f44336 "  *ngIf="matchPassword">
                New and Confirm Password must be same!
              </span>

        </form>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!groupForm.valid"
          (click)="createGroup()">Submit</button>
      </mat-card-actions>

    </mat-card>
  </div>

