// .mat-cell:nth-child(1),
// .mat-header-cell:nth-child(1){
//   flex: 0 0 50%;
// }

// .mat-cell:nth-child(2),
// .mat-header-cell:nth-child(2){
//   flex: 0 0 50%;
// }
// .mat-table {
//   .mat-row, .mat-header-row, .mat-footer-row {
//     padding-left: 24px;
//     padding-right: 24px;
//   }
// }
/*
mat-header-cell, mat-header-row, .mat-header-cell-def{
    background:#f2f4f7;
    min-height:15px;
    // font-family:Verdana,sans-serif;:Verdana,sans-serif;
    font-weight:bold;
    // font-size:13px;
    color: #1a084c;
    // margin-bottom:5px;
     top: 0;
    position: sticky;
    z-index: 1;
}

mat-row{
    min-height:20px;
    // font-family:Verdana,sans-serif;:Verdana,sans-serif;
    // font-size:11px;
    color: #1a084c;
    }
mat-cell{
    // height:20px;
    // font-family:Verdana,sans-serif;:Verdana,sans-serif;
    // font-size:11px;
    color: #1a084c;
} */

// @media only screen and (max-width: 736px) and (orientation:portrait) {
// mat-header-row, mat-row {
//   width: 200%;
// }

// }
