<mat-card class="mat-elevation-8">
    <div id="header-container">
        <div class="page-heading">
            {{'Data Management' | translate}}
        </div>
        <button id="deleteInventoryBtn" mat-raised-button class="btn-two" (click)="deleteInventoryConfirmation(warningDialog)">
            <mat-icon>delete</mat-icon>
            {{'Delete Inventory'|translate}}
        </button>
    </div>
    <nav mat-tab-nav-bar>
        <a mat-tab-link class="tab-anchor" *ngFor="let menu of tabMenus" [routerLink]="menu.link"
            routerLinkActive="active" (click)="activeLink = menu.link" [active]="activeLink == menu.link">
            {{menu.title | translate}} 
        </a>
    </nav>
    <ng-template #warningDialog>
      <mat-dialog-content>
        <p>{{'DELETE_INVENTORY_CONFIRMATION'|translate}}</p>
      </mat-dialog-content>
      <mat-dialog-actions align="center">
        <button mat-button class="btn-two" (click)="deleteInventory(successDialog, errorDialog);" cdkFocusInitial>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_loading"></span>
            {{'OK'|translate}}
        </button>
        <button mat-button [mat-dialog-close]="true" class="btn-three" cdkFocusInitial>{{'Cancel'|translate}}</button>
      </mat-dialog-actions>
    </ng-template>
    <ng-template #successDialog>
        <mat-dialog-content>
          <p>{{'DELETE_INVENTORY_SUCCESS'|translate}}</p>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-two">{{'OK'|translate}}</button>
        </mat-dialog-actions>
      </ng-template>
      <ng-template #errorDialog>
        <mat-dialog-content>
          <p>{{errorMsg |translate}}</p>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn-two">{{'OK'|translate}}</button>
        </mat-dialog-actions>
      </ng-template>
</mat-card>
<router-outlet></router-outlet>