<mat-card class="mat-elevation-8">
  <div id="header-container">
    <div class="page-heading">
      <ng-container *ngIf="!globalFileName">
        {{ "Inventory Management" | translate }}
      </ng-container>
      <ng-container *ngIf="globalFileName">
        <span class="parentNode nav-path" (click)="backToAllDataFiles()">{{
          "Inventory Management" | translate
        }}</span
        ><mat-icon class="arrow_icon">arrow_forward_ios</mat-icon>
        <span class="currentNode nav-path">{{ globalFileName }}</span>
      </ng-container>
    </div>
    <div id="buttons-container">
      <button
        id="deleteInventoryBtn"
        mat-raised-button
        class="btn-two"
        (click)="deleteInventoryConfirmation(warningDialog)"
      >
        <mat-icon>delete</mat-icon>
        {{ "Delete Inventory" | translate }}
      </button>
      <button
        mat-icon-button
        matTooltip="{{ 'Click here to view deletion logs' | translate }}"
        (click)="viewDeletionLogs()"
      >
        <img src="assets/images/DeleteLogsIcon.svg" />
      </button>
    </div>
  </div>
  <nav mat-tab-nav-bar>
    <ng-container *ngFor="let menu of tabMenus">
      <a
        mat-tab-link
        class="tab-anchor"
        *ngIf="menu.show"
        [routerLink]="menu.link"
        routerLinkActive="active"
        (click)="activeLink = menu.link"
        [active]="activeLink == menu.link"
      >
        {{ menu.title | translate }}
      </a>
    </ng-container>
  </nav>
  <ng-template #warningDialog>
    <mat-dialog-content>
      <section class="example-section" [formGroup]="deletionType">
        <p id="dialog-header">{{ "Select what to delete" | translate }}:</p>
        <p>
          <mat-checkbox formControlName="inventoryPark" [disabled]="_loading">
            {{
              "Inventory Park(Equipments, applications and installed products)"
                | translate
            }}
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox formControlName="acquiredRights" [disabled]="_loading">
            {{ "Acquired Rights" | translate }}
          </mat-checkbox>
        </p>
      </section>
      <p>{{ "DELETE_INVENTORY_CONFIRMATION" | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions id="deleteInventoryActions" align="center">
      <button
        mat-raised-button
        class="btn-two"
        [disabled]="noOptionSelected || _loading"
        (click)="deleteInventory(successDialog, errorDialog)"
        cdkFocusInitial
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          *ngIf="_loading"
        ></span>
        {{ "OK" | translate }}
      </button>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        [disabled]="_loading"
        class="btn-three"
        cdkFocusInitial
      >
        {{ "Cancel" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
  <ng-template #successDialog>
    <mat-dialog-content>
      <p>{{ "DELETE_INVENTORY_SUCCESS" | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        class="btn-two"
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
  <ng-template #errorDialog>
    <mat-dialog-content>
      <p>{{ errorMsg | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        class="btn-two"
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
</mat-card>
<router-outlet></router-outlet>
