<h2 mat-dialog-title>{{ "Confirmation" | translate }}</h2>
<mat-dialog-content>
  <p>
    <strong>{{ "Are you Sure want to delete Product" | translate }}?</strong>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-button
    [mat-dialog-close]="true"
    class="btn-two"
    (click)="deleteProduct()"
    cdkFocusInitial
  >
    {{ "OK" | translate }}</button
  >&nbsp;
  <button
    mat-button
    [mat-dialog-close]="true"
    class="btn-three"
    cdkFocusInitial
  >
    {{ "Cancel" | translate }}
  </button>
</mat-dialog-actions>
