<!-- <div class="closeDialog"><button [mat-dialog-close]="true" mat-icon-button><mat-icon>close</mat-icon></button></div> -->
<mat-card>
  <mat-card-title class="page-heading">
    {{ "UPDATE_METRIC" | translate }}
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="metricEditForm">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>{{ "Metric Name" | translate }}</mat-label>
            <input matInput id="metricName" formControlName="metricName" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>{{ "Metric Type" | translate }}</mat-label>
            <input matInput id="metricType" formControlName="metricType" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{ "Metric Description" | translate }}</mat-label>
            <textarea
              id="metricDescription"
              matInput
              formControlName="metricDescription"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <!-- Oracle Processor or Oracle NUP!-->
      <ng-container
        *ngIf="
          isProcessorOrNUP && firstEquipmentsList$
            | async as firstEquipmentsList
        "
      >
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "First Equipment" | translate }}</mat-label>
              <mat-select
                id="firstEquipment"
                formControlName="firstEquipment"
                [disabled]="firstEquipmentsList.length === 0"
                (selectionChange)="
                  selectionChanged('firstEquipment', $event.value)
                "
              >
                <mat-option
                  *ngFor="let equipment of firstEquipmentsList"
                  [value]="equipment.ID"
                >
                  {{ equipment.type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Reference Equipment" | translate }}</mat-label>
              <mat-select
                id="referenceEquipment"
                formControlName="referenceEquipment"
                [disabled]="referenceEquipmentsList.length === 0"
                (selectionChange)="
                  selectionChanged('referenceEquipment', $event.value)
                "
              >
                <mat-option
                  *ngFor="let refEquiment of referenceEquipmentsList"
                  [value]="refEquiment.ID"
                >
                  {{ refEquiment.type }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  referenceEquipment.invalid &&
                  referenceEquipment.hasError('required')
                "
              >
                {{ "Reference Equipment is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              class="warningMsg"
              *ngIf="referenceEquipment.dirty && coresList?.length === 0"
            >
              {{
                "Selected equipment type does not have one of these: core factor, processor, or core value"
                  | translate
              }}
            </mat-error>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Core</mat-label>
              <mat-select
                id="core"
                formControlName="core"
                [disabled]="coresList?.length === 0"
                (selectionChange)="selectionChanged('core', $event.value)"
              >
                <mat-option *ngFor="let core of coresList" [value]="core.ID">
                  {{ core.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  coresList.length && core.invalid && core.hasError('required')
                "
              >
                {{ "Core is mandatory" | translate }}
              </mat-error>
              <mat-error *ngIf="!coresList.length">
                {{ "Core is not available" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "CPU" | translate }}</mat-label>
              <mat-select
                id="cpu"
                formControlName="cpu"
                [disabled]="cpusList?.length === 0"
                (selectionChange)="selectionChanged('cpu', $event.value)"
              >
                <mat-option *ngFor="let cpu of cpusList" [value]="cpu.ID">
                  {{ cpu.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cpu.invalid && cpu.hasError('required')">
                {{ "CPU is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Corefactor" | translate }}</mat-label>
              <mat-select
                id="corefactor"
                formControlName="corefactor"
                [disabled]="corefactorsList?.length === 0"
              >
                <mat-option *ngFor="let cf of corefactorsList" [value]="cf.ID">
                  {{ cf.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="corefactor.invalid && corefactor.hasError('required')"
              >
                {{ "Corefactor is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Aggregation level" | translate }}</mat-label>
              <mat-select
                id="aggregationLevel"
                formControlName="aggregationLevel"
                [disabled]="aggregationLevelsList?.length === 0"
                (selectionChange)="
                  selectionChanged('aggregationLevel', $event.value)
                "
              >
                <mat-option
                  *ngFor="let aggrLevel of aggregationLevelsList"
                  [value]="aggrLevel.ID"
                >
                  {{ aggrLevel.type }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  aggregationLevel.invalid &&
                  aggregationLevel.hasError('required')
                "
              >
                {{ "Aggregation level is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Last Equipment" | translate }}</mat-label>
              <mat-select
                id="lastEquipment"
                formControlName="lastEquipment"
                [disabled]="lastEquipmentsList?.length === 0"
                (selectionChange)="
                  selectionChanged('lastEquipment', $event.value)
                "
              >
                <mat-option
                  *ngFor="let lastEqui of lastEquipmentsList"
                  [value]="lastEqui.ID"
                >
                  {{ lastEqui.type }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  lastEquipment.invalid && lastEquipment.hasError('required')
                "
              >
                {{ "Last equipment is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" *ngIf="isOracleNUP">
              <mat-label>{{ "No. of Users" | translate }}</mat-label>
              <input
                id="noOfUsers"
                matInput
                formControlName="noOfUsers"
                type="number"
                min="1"
                placeholder="{{ 'No. of Users' | translate }}"
                (keyup)="inputChangeDetection($event.target.value)"
              />
              <mat-error
                *ngIf="noOfUsers.invalid && noOfUsers.hasError('required')"
              >
                {{ "No. of users is mandatory" | translate }}
              </mat-error>
              <mat-error
                *ngIf="noOfUsers.invalid && noOfUsers.hasError('pattern')"
              >
                {{ "There must be atleast 1 user" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <ng-container *ngIf="isOracleNUP">
            <div class="col-md-3" fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox
                (change)="transformChange($event)"
                [checked]="transformProcessor"
                color="primary"
                >{{ "Transform to processor" | translate }}</mat-checkbox
              >
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  "Oracle processor standard metric" | translate
                }}</mat-label>
                <mat-select
                  id="processor-metric-list"
                  [disabled]="!transformProcessor"
                  formControlName="transformProcessorMetric"
                  value=""
                >
                  <mat-option value=""
                    >--{{ "Select" | translate }}--</mat-option
                  >
                  <mat-option
                    *ngFor="let processorMetric of processorMetricList$ | async"
                    [value]="processorMetric.name"
                  >
                    {{ processorMetric.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    transformProcessorMetric.invalid &&
                    transformProcessorMetric.hasError('required')
                  "
                >
                  {{ "Processor metric is mandatory" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- SAG Processor or IBM PVU-->
      <ng-container
        *ngIf="
          isSagOrIbm && firstEquipmentsList$ | async as firstEquipmentsList
        "
      >
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Reference Equipment" | translate }}</mat-label>
              <mat-select
                id="referenceEquipment"
                formControlName="referenceEquipment"
                [disabled]="firstEquipmentsList.length === 0"
                (selectionChange)="
                  selectionChanged('referenceEquipment', $event.value)
                "
              >
                <mat-option
                  *ngFor="let refEquiment of firstEquipmentsList"
                  [value]="refEquiment.ID"
                >
                  {{ refEquiment.type }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  referenceEquipment.invalid &&
                  referenceEquipment.hasError('required')
                "
              >
                {{ "Reference Equipment is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              class="warningMsg"
              *ngIf="referenceEquipment.dirty && coresList?.length === 0"
            >
              {{
                "Selected equipment type does not have one of these: core factor, processor, or core value"
                  | translate
              }}
            </mat-error>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Core</mat-label>
              <mat-select
                id="core"
                formControlName="core"
                [disabled]="coresList?.length === 0"
                (selectionChange)="selectionChanged('core', $event.value)"
              >
                <mat-option *ngFor="let core of coresList" [value]="core.ID">
                  {{ core.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="core.invalid && core.hasError('required')">
                {{ "Core is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "CPU" | translate }}</mat-label>
              <mat-select
                id="cpu"
                formControlName="cpu"
                [disabled]="cpusList?.length === 0"
                (selectionChange)="selectionChanged('cpu', $event.value)"
              >
                <mat-option *ngFor="let cpu of cpusList" [value]="cpu.ID">
                  {{ cpu.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cpu.invalid && cpu.hasError('required')">
                {{ "CPU is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Corefactor" | translate }}</mat-label>
              <mat-select
                id="corefactor"
                formControlName="corefactor"
                [disabled]="corefactorsList?.length === 0"
                (selectionChange)="selectionChanged('corefactor', $event.value)"
              >
                <mat-option *ngFor="let cf of corefactorsList" [value]="cf.ID">
                  {{ cf.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="corefactor.invalid && corefactor.hasError('required')"
              >
                {{ "Corefactor is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- Attribute Counter OR Attribute Sum or Equipment Attribute-->
      <ng-container
        *ngIf="
          isAttributeCounterOrAttributeSumOrEquipemntAttribute &&
            firstEquipmentsList$ | async as firstEquipmentsList
        "
      >
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Reference Equipment" | translate }}</mat-label>
              <mat-select
                id="referenceEquipment"
                formControlName="referenceEquipment"
                [disabled]="firstEquipmentsList.length === 0"
                (selectionChange)="
                  selectionChanged('referenceEquipment', $event.value)
                "
              >
                <mat-option
                  *ngFor="let refEquiment of equipmentsTypesList"
                  [value]="refEquiment.ID"
                >
                  {{ refEquiment.type }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  referenceEquipment.invalid &&
                  referenceEquipment.hasError('required')
                "
              >
                {{ "Reference Equipment is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              class="warningMsg"
              *ngIf="
                referenceEquipment.dirty &&
                coresList?.length === 0 &&
                !isAttributeCounterOrAttributeSumOrEquipemntAttribute
              "
            >
              {{
                "Selected equipment type does not have one of these: core factor, processor, or core value"
                  | translate
              }}
            </mat-error>
            <!-- <mat-error
              class="warningMsg"
              *ngIf="
                referenceEquipment.dirty &&
                coresList?.length === 0 &&
                !isAttributeCounterOrAttributeSumOrEquipemntAttribute
              "
            >
              {{
                "Selected equipment type does not have any attribute with data type INT."
                  | translate
              }}
            </mat-error> -->
          </div>

          <!-- Environment -->
          <div
            class="col-md-3 equipments"
            *ngIf="metricType === metricTypes.EQUIPMENT_ATTRIBUTE_STANDARD"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "Environment" | translate }}</mat-label>
              <input
                id="environmentValue"
                matInput
                formControlName="environmentValue"
                (keyup)="inputChangeDetection($event.target.value)"
                placeholder="{{ 'Environment' | translate }}"
              />

              <mat-error
                *ngIf="
                  environmentValue.invalid &&
                  environmentValue.hasError('required')
                "
              >
                {{ "Environment value is mandatory" | translate }}
              </mat-error>
              <mat-error
                *ngIf="
                  environmentValue.invalid &&
                  environmentValue.hasError('pattern')
                "
              >
                {{ "Value is required in ^[a-zA-Z0-9,]*$ format" | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Attribute Name" | translate }}</mat-label>
              <mat-select
                id="attributeName"
                formControlName="attributeName"
                [disabled]="
                  referenceEquipment.pristine || attributesList?.length === 0
                "
                (selectionChange)="
                  selectionChanged('attributeName', $event.value)
                "
              >
                <mat-option
                  *ngFor="let attr of attributesList"
                  [value]="attr.ID"
                >
                  {{ attr.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  attributeName.invalid && attributeName.hasError('required')
                "
              >
                {{ "Attribute Name is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div
            class="col-md-3"
            *ngIf="metricType === metricTypes.ATTRIBUTE_COUNTER_STANDARD"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "Value" | translate }}</mat-label>
              <input
                id="value"
                matInput
                formControlName="value"
                (keydown)="validatePattern($event)"
                (keyup)="inputChangeDetection($event.target.value)"
                placeholder="{{ 'Value' | translate }}"
              />
              <mat-error *ngIf="value.invalid && value.hasError('required')">
                {{ "Value is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              class="warningMsg"
              *ngIf="value.dirty && value.valid && zeroValueMsg"
            >
              {{ zeroValueMsg | translate }}
            </mat-error>
          </div>
          <div
            class="col-md-3"
            *ngIf="metricType === metricTypes.EQUIPMENT_ATTRIBUTE_STANDARD"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "Value" | translate }}</mat-label>
              <input
                id="value"
                matInput
                formControlName="value"
                type="number"
                min="1"
                (keydown)="validatePattern($event)"
                (keyup)="inputChangeDetection($event.target.value)"
                placeholder="{{ 'Value' | translate }}"
              />
              <mat-error *ngIf="value.invalid && value.hasError('required')">
                {{ "Value is mandatory" | translate }}
              </mat-error>

              <mat-error *ngIf="value.invalid && value.hasError('pattern')">
                {{ "Value should be greater than 0." | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div
            class="col-md-3"
            *ngIf="metricType === metricTypes.ATTRIBUTE_SUM_STANDARD"
          >
            <mat-form-field appearance="outline">
              <mat-label>{{ "Reference Value" | translate }}</mat-label>
              <input
                id="referenceValue"
                matInput
                formControlName="referenceValue"
                type="number"
                min="1"
                (keyup)="inputChangeDetection($event.target.value)"
                placeholder="{{ 'Reference Value' | translate }}"
              />
              <mat-error
                *ngIf="
                  referenceValue.invalid && referenceValue.hasError('required')
                "
              >
                {{ "Reference Value is mandatory" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-error
              class="warningMsg"
              *ngIf="
                referenceValue.dirty && referenceValue.valid && zeroValueMsg
              "
            >
              {{ zeroValueMsg | translate }}
            </mat-error>
          </div>
        </div>
      </ng-container>

      <!-- Instance Number -->
      <ng-container *ngIf="metricType === metricTypes.INSTANCE_NUMBER_STANDARD">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Number of deployments" | translate }}</mat-label>
              <input
                matInput
                #instanceNumber
                id="noOfDeployments"
                formControlName="noOfDeployments"
                (keyup)="inputChangeDetection(instanceNumber.value)"
              />
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- concurrent user  -->
      <ng-container *ngIf="metricType === metricTypes.SAAS_CONCURRENT">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "METRIC.ATTRIBUTE.PROFILE" | translate
              }}</mat-label>
              <input
                matInput
                #concurrentProfile
                id="concurrentProfile"
                formControlName="concurrentProfile"
                placeholder="{{ 'METRIC.ATTRIBUTE.PROFILE' | translate }}"
                (keyup)="inputChangeDetection(concurrentProfile.value)"
                autocomplete="off"
                list="profileList"
              />
              <datalist id="profileList">
                <option value="ALL">ALL</option>
              </datalist>
              <mat-error
                *ngIf="
                  concurrentProfileControl?.touched &&
                  concurrentProfileControl?.hasError('pattern')
                "
              >
                {{ "METRIC.ERROR.PROFILE_SPACES" | translate }}
              </mat-error>
              <mat-hint>{{ "METRIC_ALL_HINT" | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- nominative user  -->
      <ng-container *ngIf="metricType === metricTypes.SAAS_NOMINATIVE">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{
                "METRIC.ATTRIBUTE.PROFILE" | translate
              }}</mat-label>
              <input
                matInput
                #nominativeProfile
                id="nominativeProfile"
                list="profileList"
                formControlName="nominativeProfile"
                placeholder="{{ 'METRIC.ATTRIBUTE.PROFILE' | translate }}"
                (keyup)="inputChangeDetection(nominativeProfile.value)"
                autocomplete="off"
              />
              <datalist id="profileList">
                <option value="ALL">ALL</option>
              </datalist>
              <mat-error
                *ngIf="
                  nominativeProfileControl?.touched &&
                  nominativeProfileControl?.hasError('pattern')
                "
              >
                {{ "METRIC.ERROR.PROFILE_SPACES" | translate }}
              </mat-error>
              <mat-hint>{{ "METRIC_ALL_HINT" | translate }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- Static Standard -->
      <ng-container *ngIf="metricType === metricTypes.STATIC_STANDARD">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>{{ "Reference Value" | translate }}</mat-label>
              <input
                id="referenceValue"
                matInput
                formControlName="referenceValue"
                type="number"
                min="0"
                (keyup)="inputChangeDetection($event.target.value)"
                placeholder="{{ 'Reference Value' | translate }}"
              />
              <mat-error
                *ngIf="
                  referenceValue.invalid && referenceValue.hasError('required')
                "
              >
                {{ "Reference Value is mandatory" | translate }}
              </mat-error>

              <mat-error
                *ngIf="
                  referenceValue.invalid && referenceValue.hasError('pattern')
                "
              >
                {{ "Value must be a positive integer" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </form>

    <app-loading-spinner *ngIf="_loading"></app-loading-spinner>
  </mat-card-content>
  <mat-dialog-actions>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div class="left">
        <button class="btn-four" mat-raised-button mat-dialog-close>
          {{ "Cancel" | translate }}
        </button>
        <button
          [disabled]="isReset"
          class="btn-three"
          mat-raised-button
          (click)="resetHandler()"
        >
          {{ "Reset" | translate }}
        </button>
      </div>
      <div class="right">
        <button
          class="btn-two"
          mat-raised-button
          (click)="updateMetric()"
          [disabled]="!isValid"
        >
          {{ "Update" | translate }}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</mat-card>

<ng-template #successDialog>
  <mat-dialog-content>
    <p>{{ "METRIC_UPDATED" + "" | translate }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      cdkFocusInitial
      (click)="closeAll()"
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorDialog>
  <mat-dialog-content>
    <p>{{ "Error" | translate }}: {{ errorMsg }}.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button
      [mat-dialog-close]="true"
      class="btn-two"
      cdkFocusInitial
      (click)="closeAll()"
    >
      {{ "OK" | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
