#cancelButton,
#resetButton,
#saveButton {
  margin: 10px;
}
.mat-card {
  padding: unset;
}
.mat-card-actions {
  margin-top: -32px;
}

::ng-deep .name-form-control {
  input {
    padding: 5px;
  }
  .mat-form-field-subscript-wrapper {
    position: absolute !important;
  }
}
