.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#cancelButton,#resetButton,#saveButton {
  margin: 10px;
}
.scopesList {
  margin-top: 10px;
}
.closeDialog {
  display: flex;
  justify-content: flex-end;
}
.page-heading {
  margin-top: -32px !important;
}