<div *ngIf="data.type == 'edit'">
<span class="page-heading">{{fullyQualifyName}}</span>
<div style="position: center;" *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-warning">
        <strong>{{'Group Name Updated Succesfully'|translate}}!!!</strong>
      </p>
    </div>
  </div>
    <mat-form-field class="example-full-width">
      <input #name matInput placeholder="{{'Group Name'|translate}}" (keyup)="validateName(name.value)" [(ngModel)]="editName">

    </mat-form-field>
    <span style="color:red"  *ngIf="nameRequired">
      Group  name is <strong>required</strong>
    </span>
    <div class="row cta-button-bx" >
        <div class="col-md-12">
          <button id="cancelButton" class="btn-four" mat-raised-button [mat-dialog-close]="1">{{'Cancel'|translate}}</button>
          <button id="resetButton" class="btn-three" [disabled]="cannotUpdateFlag" mat-raised-button (click)="setData()">{{'Reset'|translate}}</button>
          <button id="saveButton" [disabled]="cannotUpdateFlag" mat-raised-button class="btn-two"
          (click)="saveEditName(editName, succesGroupUpdateDialog, errorGroupUpdateDialog)">{{'Save'|translate}}</button>
          </div>
    </div>
      </div>
<div *ngIf="data.type == 'scope'">
  <div class="closeDialog"><button [mat-dialog-close]="true" mat-icon-button><mat-icon>close</mat-icon></button></div>
  <div class="page-heading">{{'Scopes'|translate}}</div>
  <div class="scopesList">
    <span *ngFor="let x of data.node.scopes; let colIndex = index">
      {{x}}
      <span *ngIf="((data.node.scopes.length - 1) != colIndex)">, </span>
    </span> 
  </div>
       
</div>

<ng-template #succesGroupUpdateDialog>
  <mat-dialog-content>
    <p>{{'UPDATE_GROUP_SUCCESS'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button [mat-dialog-close]="true" mat-button cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #errorGroupUpdateDialog>
  <mat-dialog-content>
    <p>{{'UPDATE_GROUP_ERROR'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button [mat-dialog-close]="true" mat-button cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>