<div class="loading-overlay" *ngIf="isAllLoaded">
  <app-loading-spinner></app-loading-spinner>
</div>

<div>
  <mat-card-header>
    <mat-card-title class="page-heading">{{
      "Update Acquired Rights Aggregation" | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card class="card">
    <mat-card-content fxLayout="column">
      <!-- Top section -->
      <app-edit-top-section></app-edit-top-section>
      <!-- /Top section -->

      <mat-horizontal-stepper [linear]="false" #stepper>
        <!-- contract form -->
        <mat-step [stepControl]="contractForm" label="{{ 'Contract' }}">
          <app-edit-contract-step></app-edit-contract-step>
        </mat-step>

        <!-- License Block -->
        <mat-step
          [stepControl]="licenseForm"
          label="{{ 'Acquired licenses' | translate }}*"
        >
          <app-edit-license-step></app-edit-license-step>
        </mat-step>
        <!-- Maintenance Block -->
        <mat-step
          [stepControl]="maintenanceForm"
          label="{{ 'Maintenance' | translate }}"
        >
          <app-edit-maintenance-step></app-edit-maintenance-step>
        </mat-step>
        <!-- Comment Block -->
        <mat-step
          [stepControl]="commentForm"
          label="{{ 'Additional info' | translate }}"
        >
          <app-edit-comment-step></app-edit-comment-step>
        </mat-step>
        <!-- change default 'error' icon -->
        <ng-template matStepperIcon="error">
          <mat-icon>error</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
  <mat-card-actions align="center">
    <button
      id="cancelBtn"
      mat-raised-button
      class="btn-four"
      [disabled]="_updateLoading"
      [mat-dialog-close]="1"
    >
      {{ "Cancel" | translate }}
    </button>
    <button
      id="resetBtn"
      mat-raised-button
      class="btn-three"
      [disabled]="isPristine || _updateLoading"
      (click)="resetForm(stepper)"
    >
      {{ "Reset" | translate }}
    </button>
    <button
      id="createBtn"
      mat-raised-button
      class="btn-two"
      [disabled]="isUpdateDisabled"
      (click)="updateAcquiredRightAggregation(successDialog, errorDialog)"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="_updateLoading"
      ></span>
      {{ "Update" | translate }}
    </button>
  </mat-card-actions>
  <ng-template #successDialog>
    <mat-dialog-content>
      <p>{{ "UPDATE_AGGR_SUCCESS" | translate }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        class="btn-two"
        cdkFocusInitial
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
  <ng-template #errorDialog>
    <mat-dialog-content>
      <p>{{ "Error" | translate }}: {{ errorMsg }}.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button
        mat-button
        [mat-dialog-close]="true"
        class="btn-two"
        cdkFocusInitial
      >
        {{ "OK" | translate }}
      </button>
    </mat-dialog-actions>
  </ng-template>
</div>
