.metric-section table td {
    vertical-align: middle;
}
.metric-section table{
    border: 2px solid #cccccc;
}
.main-section{
    display: flex;
    padding: 0 0 16px 0;
}
.resetEntity button{
    margin-top: 3px;
    height: 44px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#simulateBtn {
    height: 44px !important;
    width: 150px !important;
    margin-top: 3px !important;
    border-radius: 5px !important;
}

.entity-section{
    display: flex;
}
.row-flex{
    display: flex;
}        

.simulate-result{
    margin-top: 15px;
    padding: 15px;
    border: 2px solid #d6d6d6;
}
    .result-section {
        border: 2px solid #d6d6d6;
        margin-bottom: 10px;
    }
        h6 {
            text-align: left;
            background-color: #d6d6d6;
            padding: 8px;
            margin-bottom: 0;
            border-bottom: 2px solid #d6d6d6;
        }
    .simulate-body {
        padding: 10px 15px;
        font-size: 13px;
    }

.result-section{
    border-color: #28a745;
    // background-color: #0ebf3666;
}
.result-section h6{
    background-color: #28a745;
    border-bottom-color: #28a745;
    color: #fff;
}

.result-section.error{
    border-color: #dc3545;
    // background-color: #ea445440;
}
.result-section.error h6{
    background-color: #dc3545;
    border-bottom-color: #dc3545;
    color: #fff;
}

.simulation-failed{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #dc3545;
}

.progress-text{
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
}
.equipmentType{
    margin-right: 15px;
}
.identifier-input{
    display: flex;
    width: 100%;
}
    .forminput{ 
        width: 100%;
    }
    .process{
        height: 44px;
        margin-left: -2px;
        margin-top: 3px;
        width: 100%;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
.attribute-section {
    flex-wrap: wrap;
}
.attribute-section .inputdiv{
    width: 49%;
}
.attribute-section .inputdiv:nth-child(odd){
    margin-right: 2%;
}

.attribute-section .mat-form-field {
    .mat-input-element {
        color : gray;
    }
}
  
.text-inside-grid {
    position: absolute;
    left: 5px;
}
.page-heading {
    height: 48px;
    margin-top: 13px;
    margin-left: 5px;
    margin-bottom: -5px;
}
#resultLabel {
    margin-left: 0px !important;
    padding-top: 5px;
}
.spinner-div{
    text-align: center;
}
mat-spinner {
    margin: 0 auto;
    margin-top: 5px;
    color:primary;
    width: 30px !important;
    height: 30px !important;
}
mat-spinner ::ng-deep svg {
    width: 30px !important;
    height: 30px !important;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #008AFC;
}