
  .mat-card{
    padding: unset;
    border: none !important;
  }
  .mat-card-header {
    margin: unset !important;
  }
  ::ng-deep .mat-card-header-text {
    margin: unset ;
}
.mat-raised-button {
  box-sizing: initial;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}
#cancelButton,#resetButton,#saveButton {
  margin: 10px;
}
.mat-select-panel {
  max-height: 150px !important;
  overflow-y: scroll !important;
}
.highlight {
  color:#008AFC;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked {
  background-color: #008AFC;
}
::ng-deep #scope-panel.mat-select-panel {
  border-radius: unset !important;
  margin-left: 40px;
  margin-top: 30px;
  width: 100%;
  min-width: unset !important;
  max-width: unset !important;
}