
  .mat-card{
    width: 500px !important;
    box-sizing: border-box;
    // margin: 50px auto 8px auto;
    // padding: 30px;
    text-transform: capitalize;
    border: none !important;
  }
  .mat-card-header {
    margin: unset !important;
  }
.mat-raised-button {
  box-sizing: initial;
}
.selectAll-option mat-pseudo-checkbox{
  display: none;
}
.select-checkbox label{
  margin-bottom: 0px;
}
#cancelButton,#resetButton,#saveButton {
  margin: 10px;
}
.mat-select-panel {
  max-height: 150px !important;
  overflow-y: scroll !important;
}