<mat-card>
  <mat-grid-list
    cols="2"
    rowHeight="4:3"
    gutterSize="20px"
    class="main-effective-licenses-position"
  >
    <mat-grid-tile
      class="mat-elevation-z3 block-total-true-up chart-block-tile"
    >
      <div class="chart-block" fxLayout="column">
        <div class="chart-block--header">
          <div class="chart-block--header--icon"></div>
          <div class="chart-block--header--content">
            <div class="chart-block--header--content--title">
              Total True Up Cost
            </div>
            <div class="chart-block--header--content--number"></div>
          </div>
        </div>
        <div class="chart-block--map" fxFill>Chart</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="mat-elevation-z3 block-total-waste chart-block-tile">
      <div class="chart-block" fxLayout="column">
        <div class="chart-block--header">
          <div class="chart-block--header--icon"></div>
          <div class="chart-block--header--content">
            <div class="chart-block--header--content--title">
              Total Waste Cost
            </div>
            <div class="chart-block--header--content--number"></div>
          </div>
        </div>
        <div class="chart-block--map" fxFill>Chart</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
