<div class="error-div" *ngIf="errorMsg"><span>Error: {{errorMsg}}</span></div>
<mat-card>
  <mat-card-title color="primary" class="page-heading">
    <!-- {{'Create New Equipment'|translate}} -->
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="createForm">
      <div class="row create-equipment">
        <div class="col-md-4 field-left">
        <mat-form-field class="demo-full-width" appearance="outline">
          <input matInput (keydown)="search($event)" (keyup)="search($event)" placeholder="{{'Type Name'|translate}}"
            id="type" [formControlName]="'type'">
          <mat-error *ngIf="type.invalid && !type.pristine">
            {{'Type Name is required in ^[-_,A-Za-z0-9]+$ format.' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="TypeNameMsg">
          {{'TypeNameMsg' | translate }}
        </mat-error>
        </div>
        <!-- <label>{{'Source'|translate}}</label> -->
        <div class="col-md-4 field-center">
          <mat-form-field appearance="outline">
            <mat-select placeholder="{{'Source?'|translate}}" #name [formControlName]="'from'">
              <mat-option *ngFor="let type of metaData" (onSelectionChange)="filterAttributes($event)" [value]="type.ID">
                {{type.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <label>{{'Parent'|translate}}</label> -->

        <div class="col-md-4 field-right">
          <mat-form-field appearance="outline">
            <mat-select placeholder="{{'root'|translate}}" [(value)]="selected1" [formControlName]="'root'">
              <mat-option *ngFor="let type of types" (click)="onSelect(type.ID)" [value]="type.ID">{{type.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Second line fields -->
      <div formArrayName='attribute' class="attribute-group">
        <div class="row" *ngFor="let ingredientCtrl of getControls(); let i= index" [formGroupName]="i">
          <!-- Attribute Name -->
          <div class="form-group attributes col-md-3">
            <!-- <label class="attribute-label">{{'Attribute Name'|translate}}</label> -->
            <mat-form-field class="demo-full-width" appearance="outline">
              <input matInput placeholder="{{'Attribute Name'|translate}}" id="name" formControlName="name">
            </mat-form-field>
            <mat-error *ngIf="name.invalid && !name.pristine">
              {{'Type Name is required in ^[-_,A-Za-z0-9]+$ format.' | translate}}
            </mat-error>
          </div>

          <!-- Start checkbox -->
          <div class="checkbox-section col-md-4">
            <div class="checkbox-labels">
              <div class="chkLabel" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">{{'PK'|translate}}</div>
              <div class="chkLabel" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">{{'Displayable' | translate}}</div>
              <div class="chkLabel" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">{{'Search'|translate}}</div>
              <div class="chkLabel" *ngIf="selectedParent" class="col-md-3">{{'ParentId'|translate}}</div>
            </div>
            <div class="checkboxes">
              <div class="form-group chkbox" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">
                <mat-checkbox formControlName="primary_key" [disabled]="primaryKeys[i]"
                  (change)="onChange($event,i); false">
                </mat-checkbox>
              </div>
              <div class="form-group chkbox" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">
                <mat-checkbox formControlName="displayed"></mat-checkbox>
              </div>
              <div class="form-group chkbox" [ngClass]="(selectedParent)?'col-md-3':'col-md-4'">
                <mat-checkbox formControlName="searchable"></mat-checkbox>
              </div>
              <div *ngIf="selectedParent" class="form-group col-md-3 chkbox">
                <mat-checkbox [disabled]="parentIStatus[i]" formControlName="parent_identifier"
                  (change)="onChangeParentI($event,i); false"></mat-checkbox>
              </div>
            </div>
          </div>
          <!-- End checkbox -->

          <!-- Data Type -->
          <div class="form-group attributes col-md-2">
            <!-- <label class="attribute-label">{{'Data Type'| translate}}</label> -->
            <mat-form-field appearance="outline">
              <mat-select *ngIf="primaryKeyValue[i]" [disabled]="primaryKeyValue[i]" #xyz
                placeholder="{{'Data Type'|translate}}" [(value)]="selected[i]"   id="data">
                <mat-option value="STRING">STRING</mat-option>
              </mat-select>
              <mat-select *ngIf="!primaryKeyValue[i]" #xyz placeholder="{{'Data Type'|translate}}" id="data"
                formControlName="data_type">
                <mat-option>-- {{'Select Any' | translate}} --</mat-option>
                <mat-option value="INT">INT</mat-option>
                <mat-option value="FLOAT">FLOAT</mat-option>
                <mat-option value="STRING">STRING</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Mapped To -->
          <div class="form-group attributes col-md-2">
            <!-- <label class="attribute-label">{{'Mapped To'|translate}}</label> -->
            <mat-form-field appearance="outline">
              <mat-select placeholder="{{'Mapped to'|translate}}" formControlName="mapped_to">
                <mat-option *ngFor="let type of selectedAttributes[i]" [value]="type" (onSelectionChange)="reduceMapped_toList(type, selectedAttributes, i)">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="cancelBtn col-md-1">
            <button mat-icon-button (click)="onDeleteAttribute(i)"><mat-icon>cancel</mat-icon></button>
          </div>

        </div>

      </div>
      <!-- End Second line fields -->

      <!-- Call to action button -->
      <div class="row cta-button-bx">
        <div class="col-md-6 left-btn">
          <button id="closeButton" mat-raised-button class="btn-four" [mat-dialog-close]="1">{{'Cancel'|translate}}</button>
          <button id="resetButton" mat-raised-button class="btn-three" (click)="onFormReset()">{{'Reset'|translate}}</button>
        </div>

        <div class="col-md-6 right-btn">
          <button id="addAttrButton" mat-raised-button class="btn-two" (click)="onAddAttribute()">{{'Add Attribute'|translate}}</button>
          <button id="createButton" type="submit" [disabled]="!createForm.valid || (selectedParent && !prntChckStats) || !checkStatus" mat-raised-button class="primary-btn" (click)="onSubmit(succesCreateDialog,errorCreateDialog)">{{'Create'|translate}}</button>
        </div>

      </div>
      <!-- End Call to action button -->
    </form>
  </mat-card-content>
</mat-card>

<!-- Create success message -->
<ng-template #succesCreateDialog>
  <mat-dialog-content>
    <p>{{'SUCCESS_EQUIP_CREATE_MSG'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
     <button [mat-dialog-close]="true" mat-button cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>
<!-- Create error message -->
<ng-template #errorCreateDialog>
  <mat-dialog-content>
     <p>{{'ERROR_EQUIP_CREATE_MSG'|translate}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button [mat-dialog-close]="true" mat-button cdkFocusInitial>{{'OK'|translate}}</button>
  </mat-dialog-actions>
</ng-template>