.mat-form-field{display: block;}
.mat-card {max-height: 620px; overflow-y: auto; /* padding: 10px; */}

.mat-card-content .row { margin: 0; }

/* 20-05-2019 Add components */
.add-attribute-button { padding-left: 0;  padding-bottom: 10px; text-align: right; padding-right: 0;}
.cta-button-bx .left-btn { text-align: left; padding-left: 0; }
.cta-button-bx .left-btn button { margin-right: 10px; }
.cta-button-bx .right-btn {text-align: right; padding: unset;}
.attribute-group .attributes { padding: 0 15px 0 0; }
.attribute-group .attribute-label  { width: 100%; }
.mat-checkbox { margin: 0 5px 0 0;}
// .attribute-group .close-btn button { margin: 40px 0 0 0; }
.mat-error {
    font-size: 10px;
}
.mat-icon {
    color: #008AFC !important;
}
.create-equipment .field-left {padding: 0 15px 0 0;}
.create-equipment .field-center {padding: 0 15px 0 0;}
.create-equipment .field-right {padding: 0px;}
.error-div{
    padding: 7px 16px;
    background: #dc3545;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
#addAttrButton {
    margin-right: 10px;
}
.cancelBtn {
    margin-top:5px;
}
.checkbox-section {
    width: 100%;
    padding-top: 5px;
}
.checkbox-labels {
    display: flex;
}
.chkLabel {
    display: flex;
    justify-content: center;
}
.checkboxes {
    display: flex;
}
.chkbox {
    display: flex;
    justify-content: center;
    margin-top:5px;
}
::ng-deep .mat-select-panel {
    min-width: 190px !important;
    margin-left: 32px;
    margin-top: 20px;
}
::ng-deep .mat-select-panel#scope-panel {
    min-width: calc(100% + 10px) !important;
    margin-left: 12px;
    margin-top: 25px;
}
::ng-deep .mat-select-panel#root-panel {
    min-width: calc(100% + 10px) !important;
    margin-left: 10px;
    margin-top: 36px;
}
::ng-deep .mat-select-panel#data-panel {
    min-width: calc(100% + 16px) !important;
    margin-left: 8px;
    margin-top: 36px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #008AFC!important;
  }
  
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #008AFC !important;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked,::ng-deep .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #008afc;
}
#duplicateNameMsg {
    margin-top: -14px;
    margin-left: 8px;
}
